# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic ðŸš¢

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

### Get data, option 1: Kaggle API

#### Sign up for Kaggle and get an API token
1. [Sign up for a Kaggle account](https://www.kaggle.com/), if you donâ€™t already have one. 
2. [Follow these instructions](https://github.com/Kaggle/kaggle-api#api-credentials) to create a Kaggle â€œAPI Tokenâ€ and download your `kaggle.json` file. If you are using Anaconda, put the file in the directory specified in the instructions.

_This will enable you to download data directly from Kaggle. If you run into problems, donâ€™t worry â€” Iâ€™ll give you an easy alternative way to download todayâ€™s data, so you can still follow along with the lecture hands-on. And then weâ€™ll help you through the Kaggle process after the lecture._

#### Put `kaggle.json` in the correct location

- ***If you're using Anaconda,*** put the file in the directory specified in the [instructions](https://github.com/Kaggle/kaggle-api#api-credentials).

- ***If you're using Google Colab,*** upload the file to your Google Drive, and run this cell:

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')
# %env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

#### Install the Kaggle API package and use it to get the data

You also have to join the Titanic competition to have access to the data

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /home/seek/anaconda3/lib/python3.7/site-packages (1.5.3)
Requirement already satisfied: six>=1.10 in /home/seek/anaconda3/lib/python3.7/site-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in /home/seek/anaconda3/lib/python3.7/site-packages (from kaggle) (3.0.2)
Requirement already satisfied: certifi in /home/seek/anaconda3/lib/python3.7/site-packages (from kaggle) (2019.3.9)
Requirement already satisfied: python-dateutil in /home/seek/anaconda3/lib/python3.7/site-packages (from kaggle) (2.8.0)
Requirement already satisfied: tqdm in /home/seek/anaconda3/lib/python3.7/site-packages (from kaggle) (4.31.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/seek/anaconda3/lib/python3.7/site-packages (from kaggle) (1.24.2)
Requirement already satisfied: requests in /home/seek/anaconda3/lib/python3.7/site-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode==1.2 in /home/seek/anaconda3/lib/python3.7/site-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: idna<2.9,>=2.5 in /home/seek/anaconda3/lib/python3.7/site-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/seek/anaconda3/lib/python3.7/site-packages (from requests->kaggle) (3.0.4)

In [3]:
!kaggle competitions download -c titanic --force

Downloading train.csv to /home/seek/Documents/GitHub/DS-Unit-2-Sprint-3-Classification-Validation/module1-logistic-regression
  0%|                                               | 0.00/59.8k [00:00<?, ?B/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 59.8k/59.8k [00:00<00:00, 1.40MB/s]
Downloading test.csv to /home/seek/Documents/GitHub/DS-Unit-2-Sprint-3-Classification-Validation/module1-logistic-regression
  0%|                                               | 0.00/28.0k [00:00<?, ?B/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 28.0k/28.0k [00:00<00:00, 4.38MB/s]
Downloading gender_submission.csv to /home/seek/Documents/GitHub/DS-Unit-2-Sprint-3-Classification-Validation/module1-logistic-regression
  0%|                                               | 0.00/3.18k [00:00<?, ?B/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3.18k/3.18k [00:00<00:00, 1.55MB/s]

### Get data, option 2: Download from the competition page
1. [Sign up for a Kaggle account](https://www.kaggle.com/), if you donâ€™t already have one. 
2. [Go to the Titanic competition page](https://www.kaggle.com/c/titanic) to download the [data](https://www.kaggle.com/c/titanic/data).

### Get data, option 3: Use Seaborn

```
import seaborn as sns
train = sns.load_dataset('titanic')
```

But Seaborn's version of the Titanic dataset is not identical to Kaggle's version, as we'll see during this lesson!

### Read data

In [4]:
import pandas as pd
train = pd.read_csv('train.csv')
test  = pd.read_csv('test.csv')
train.shape, test.shape

((891, 12), (418, 11))

In [5]:
train.sample(n=5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
810,811,0,3,"Alexander, Mr. William",male,26.0,0,0,3474,7.8875,NaN,S
516,517,1,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5000,F33,S
744,745,1,3,"Stranden, Mr. Juho",male,31.0,0,0,STON/O 2. 3101288,7.9250,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.0,0,0,28665,10.5000,NaN,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [6]:
test.sample(n=5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
226,1118,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,350054,7.7958,NaN,S
250,1142,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,NaN,S
140,1032,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
376,1268,3,"Kink, Miss. Maria",female,22.00,2,0,315152,8.6625,NaN,S
198,1090,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,C.A. 31030,10.5000,NaN,S

In [7]:
target = 'Survived'
train[target].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [8]:
train.describe(include='number')

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
train.describe(exclude='number')

                        Name   Sex    Ticket Cabin Embarked
count                    891   891       891   204      889
unique                   891     2       681   147        3
top     Petroff, Mr. Nedelio  male  CA. 2343    G6        S
freq                       1   577         7     4      644

### How would we try to do this with linear regression?

https://scikit-learn.org/stable/modules/impute.html

In [10]:
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression

features = ['Pclass', 'Age', 'Fare']
target  = 'Survived'
X_train = train[features]
y_train = train[target]
X_test  = test[features]

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed  = imputer.transform(X_test)

lin_reg = LinearRegression()
lin_reg.fit(X_train_imputed, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
X_train.shape, X_train_imputed.shape, X_test.shape, X_test_imputed.shape

((891, 3), (891, 3), (418, 3), (418, 3))

In [12]:
X_train.head(6)

   Pclass   Age     Fare
0       3  22.0   7.2500
1       1  38.0  71.2833
2       3  26.0   7.9250
3       1  35.0  53.1000
4       3  35.0   8.0500
5       3   NaN   8.4583

In [13]:
X_train_imputed[:6]

array([[ 3.        , 22.        ,  7.25      ],
       [ 1.        , 38.        , 71.2833    ],
       [ 3.        , 26.        ,  7.925     ],
       [ 1.        , 35.        , 53.1       ],
       [ 3.        , 35.        ,  8.05      ],
       [ 3.        , 29.69911765,  8.4583    ]])

In [14]:
X_train['Age'].mean()

29.69911764705882

In [15]:
X_test.tail()

     Pclass   Age      Fare
413       3   NaN    8.0500
414       1  39.0  108.9000
415       3  38.5    7.2500
416       3   NaN    8.0500
417       3   NaN   22.3583

In [16]:
X_test_imputed[-5:]

array([[  3.        ,  29.69911765,   8.05      ],
       [  1.        ,  39.        , 108.9       ],
       [  3.        ,  38.5       ,   7.25      ],
       [  3.        ,  29.69911765,   8.05      ],
       [  3.        ,  29.69911765,  22.3583    ]])

In [17]:
X_test['Age'].mean()

30.272590361445783

In [18]:
pd.concat([X_train, X_test])['Age'].mean()

29.881137667304014

In [19]:
import numpy as np
test_case = np.array([[1, 5, 500]]) # Rich 5-year old in first class
lin_reg.predict(test_case)

array([1.19207871])

In [20]:
y_pred = lin_reg.predict(X_test_imputed)

In [21]:
pd.Series(y_pred).describe()

count    418.000000
mean       0.392117
std        0.181876
min        0.011755
25%        0.227341
50%        0.339570
75%        0.516439
max        0.954827
dtype: float64

In [22]:
pd.Series(lin_reg.coef_, X_train.columns)

Pclass   -0.210390
Age      -0.007358
Fare      0.000751
dtype: float64

In [23]:
lin_reg.intercept_

1.0638995000035445

### How would we do this with Logistic Regression?

In [24]:
from sklearn.linear_model import LogisticRegression

# Linear Regression
# lin_reg = LinearRegression()
# lin_reg.fit(X_train_imputed, y_train)
# lin_reg.predict(test_case)

log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)
print('Prediction for rich 5 year old:', log_reg.predict(test_case))
print('Predicted probabilities for rich 5 year old:', log_reg.predict_proba(test_case))

Prediction for rich 5 year old: [1]
Predicted probabilities for rich 5 year old: [[0.02778799 0.97221201]]

In [25]:
threshold = 0.5
(log_reg.predict_proba(X_test_imputed)[:, 1] > threshold).astype(int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [26]:
manual_predictions = (log_reg.predict_proba(X_test_imputed)[:,1] > threshold).astype(int)
direct_predictions = log_reg.predict(X_test_imputed)

all(manual_predictions == direct_predictions)

True

### How accurate is the Logistic Regression?

In [27]:
score = log_reg.score(X_train_imputed, y_train)
print('Train Accuracy Score', score)

Train Accuracy Score 0.7025813692480359

In [28]:
# score = log_reg.score(X_test_imputed, y_test)
# print('Test Accuracy Score', score)

In [29]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg, X_train_imputed, y_train, cv=10)
print('Cross-Validation Accuracy Scores', scores)

Cross-Validation Accuracy Scores [0.63333333 0.62222222 0.68539326 0.71910112 0.69662921 0.69662921
 0.76404494 0.75280899 0.73033708 0.71590909]

In [30]:
scores = pd.Series(scores)
scores.min(), scores.mean(), scores.max()

(0.6222222222222222, 0.7016408466689366, 0.7640449438202247)

In [31]:
X_train_imputed.shape

(891, 3)

In [32]:
y_pred = log_reg.predict(X_train_imputed)

In [33]:
len(y_pred)

891

In [34]:
len(y_train)

891

In [35]:
y_pred[:5]

array([0, 1, 0, 1, 0])

In [36]:
y_train[:5].values

array([0, 1, 1, 1, 0])

In [37]:
correct_predictions = 4
total_predictions = 5
accuracy = correct_predictions / total_predictions
print(accuracy)

0.8

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train[:5], y_pred[:5])

0.8

In [39]:
y_train.value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

### What's the math for the Logistic Regression?

https://en.wikipedia.org/wiki/Logistic_function

https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study

In [40]:
log_reg.coef_

array([[-0.9345267 , -0.03569729,  0.00422069]])

In [41]:
log_reg.intercept_

array([2.55763985])

In [42]:
# The logistic sigmoid "squishing" function, 
# implemented to work with numpy arrays

def sigmoid(x):
    return 1 / (1 + np.e**(-x))

In [43]:
sigmoid(np.dot(log_reg.coef_, test_case.T) + log_reg.intercept_)

array([[0.97221201]])

In [44]:
sigmoid(log_reg.coef_ @ test_case.T + log_reg.intercept_)

array([[0.97221201]])

In [45]:
log_reg.predict_proba(test_case)

array([[0.02778799, 0.97221201]])

## Feature Engineering

Get the [Category Encoder](http://contrib.scikit-learn.org/categorical-encoding/) library

If you're running on Google Colab:

```
!pip install category_encoders
```

If you're running locally with Anaconda:

```
!conda install -c conda-forge category_encoders
```

In [46]:
import seaborn as sns
sns_titanic = sns.load_dataset('titanic')
print(sns_titanic.shape)

(891, 15)

In [47]:
train.shape

(891, 12)

In [48]:
sns_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [49]:
# Titanic
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [50]:
def make_features(X):
    X = X.copy()
    X['adult_male'] = (X['Sex'] == 'male') & (X['Age'] >= 16)
    X['alone'] = (X['SibSp'] == 0) & (X['Parch'] == 0)
    X['last_name'] = X['Name'].str.split(',').str[0]
    X['title'] = X['Name'].str.split(',').str[1].str.split('.').str[0]
    return X

In [51]:
train = make_features(train)
test  = make_features(test)

In [52]:
train['adult_male'].value_counts()

False    478
True     413
Name: adult_male, dtype: int64

In [53]:
train['alone'].value_counts()

True     537
False    354
Name: alone, dtype: int64

In [54]:
train['title'].value_counts()

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Col               2
 Mlle              2
 Major             2
 Ms                1
 Sir               1
 Mme               1
 Lady              1
 Capt              1
 Don               1
 Jonkheer          1
 the Countess      1
Name: title, dtype: int64

In [55]:
sns_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Assignment: real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

### Get and unzip the data

#### Google Colab

In [56]:
# !wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
# !unzip fma_metadata.zip

--2019-05-06 17:46:07--  https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
Resolving os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)... 2001:620:5ca1:2ff::ce53, 86.119.28.13
Connecting to os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)|2001:620:5ca1:2ff::ce53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 358412441 (342M) [application/zip]
Saving to: â€˜fma_metadata.zipâ€™

fma_metadata.zip    100%[===================>] 341.81M  10.9MB/s    in 33s

2019-05-06 17:46:41 (10.2 MB/s) - â€˜fma_metadata.zipâ€™ saved [358412441/358412441]

Archive:  fma_metadata.zip
replace fma_metadata/README.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C
/bin/sh: 1: o: not found

#### Windows
- Download the [zip file](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip)
- You may need to use [7zip](https://www.7-zip.org/download.html) to unzip it


#### Mac
- Download the [zip file](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip)
- You may need to use [p7zip](https://superuser.com/a/626731) to unzip it

### Look at first 3 lines of raw file

In [58]:
!head -n 4 fma_metadata/tracks.csv

,album,album,album,album,album,album,album,album,album,album,album,album,album,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,set,set,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track
,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type,active_year_begin,active_year_end,associated_labels,bio,comments,date_created,favorites,id,latitude,location,longitude,members,name,related_projects,tags,website,wikipedia_page,split,subset,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
track_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,,4,1,<p></p>,6073,,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,,,"<p>A Way Of Life, A Collective of Hip-Hop from NJ...................</p>",0,2008-11-26 01:42:32,9,1,40.0583238,New Jersey,-74.4056612,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of Records,Zooberelli the Don,F.A.H,MadSicka,Damien Omenicci..and a van load more...",AWOL,The list of past projects is 2 long but every1 and every style from Tabby Bonet 2 M.O.P..Azillion Records Flagship trackmaster DJ BrownBum is a beat Wizard.....A-2-Z..illion....(right now working with JerseyBlock Ent),['awol'],http://www.AzillionRecords.blogspot.com,,training,small,256000,0,,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],[21],,4656,en,Attribution-NonCommercial-ShareAlike 3.0 International,1293,,3,,[],Food

### Read with pandas
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [59]:
tracks = pd.read_csv('fma_metadata/tracks.csv', header=[0,1], index_col=0)

In [60]:
pd.set_option('display.max_columns', 60)
tracks.head()

            album                                                     \
         comments         date_created        date_released engineer
track_id
2               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
3               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
5               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
10              0  2008-11-26 01:45:08  2008-02-06 00:00:00      NaN
20              0  2008-11-26 01:45:05  2009-01-06 00:00:00      NaN

                                                                          \
         favorites id                                information listens
track_id
2                4  1                                    <p></p>    6073
3                4  1                                    <p></p>    6073
5                4  1                                    <p></p>    6073
10               4  6                                        NaN   47632
20               2  4  <p>Â "spiritual songs" from Nicky Cook</p>    2710

                                                            \
         producer tags                 title tracks   type
track_id
2             NaN   []  AWOL - A Way Of Life      7  Album
3             NaN   []  AWOL - A Way Of Life      7  Album
5             NaN   []  AWOL - A Way Of Life      7  Album
10            NaN   []     Constant Hitmaker      2  Album
20            NaN   []                 Niris     13  Album

                       artist                       \
            active_year_begin      active_year_end
track_id
2         2006-01-01 00:00:00                  NaN
3         2006-01-01 00:00:00                  NaN
5         2006-01-01 00:00:00                  NaN
10                        NaN                  NaN
20        1990-01-01 00:00:00  2011-01-01 00:00:00

                                                             \
                                          associated_labels
track_id
2                                                       NaN
3                                                       NaN
5                                                       NaN
10        Mexican Summer, Richie Records, Woodsist, Skul...
20                                                      NaN

                                                                      \
                                                        bio comments
track_id
2         <p>A Way Of Life, A Collective of Hip-Hop from...        0
3         <p>A Way Of Life, A Collective of Hip-Hop from...        0
5         <p>A Way Of Life, A Collective of Hip-Hop from...        0
10        <p><span style="font-family:Verdana, Geneva, A...        3
20        <p>Songs written by: Nicky Cook</p>\n<p>VOCALS...        2

                                                                           \
                 date_created favorites id   latitude            location
track_id
2         2008-11-26 01:42:32         9  1  40.058324          New Jersey
3         2008-11-26 01:42:32         9  1  40.058324          New Jersey
5         2008-11-26 01:42:32         9  1  40.058324          New Jersey
10        2008-11-26 01:42:55        74  6        NaN                 NaN
20        2008-11-26 01:42:52        10  4  51.895927  Colchester England

                                                                        \
          longitude                                            members
track_id
2        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
3        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
5        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
10              NaN                           Kurt Vile, the Violators
20         0.891874                                       Nicky Cook\n

                                                                         \
                name                                   related_projects
track_id
2               AWOL  The list of past projects is 2 long but every1...
3               AWOL  The list of past projects is 2 long but every1...
5               AWOL  The list of past projects is 2 long but every1...
10         Kurt Vile                                                NaN
20        Nicky Cook                                                NaN

                                                             \
                                                       tags
track_id
2                                                  ['awol']
3                                                  ['awol']
5                                                  ['awol']
10                                  ['philly', 'kurt vile']
20        ['instrumentals', 'experimental pop', 'post pu...

                                                                       set  \
                                          website wikipedia_page     split
track_id
2         http://www.AzillionRecords.blogspot.com            NaN  training
3         http://www.AzillionRecords.blogspot.com            NaN  training
5         http://www.AzillionRecords.blogspot.com            NaN  training
10                            http://kurtvile.com            NaN  training
20                                            NaN            NaN  training

                    track                                           \
          subset bit_rate comments   composer         date_created
track_id
2          small   256000        0        NaN  2008-11-26 01:48:12
3         medium   256000        0        NaN  2008-11-26 01:48:14
5          small   256000        0        NaN  2008-11-26 01:48:20
10         small   192000        0  Kurt Vile  2008-11-25 17:49:06
20         large   256000        0        NaN  2008-11-26 01:48:56

                                                                       \
                date_recorded duration favorites genre_top     genres
track_id
2         2008-11-26 00:00:00      168         2   Hip-Hop       [21]
3         2008-11-26 00:00:00      237         1   Hip-Hop       [21]
5         2008-11-26 00:00:00      206         6   Hip-Hop       [21]
10        2008-11-26 00:00:00      161       178       Pop       [10]
20        2008-01-01 00:00:00      311         0       NaN  [76, 103]

                                                                \
                 genres_all information interest language_code
track_id
2                      [21]         NaN     4656            en
3                      [21]         NaN     1470            en
5                      [21]         NaN     1933            en
10                     [10]         NaN    54881            en
20        [17, 10, 76, 103]         NaN      978            en

                                                                              \
                                                    license listens lyricist
track_id
2         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN
3         Attribution-NonCommercial-ShareAlike 3.0 Inter...     514      NaN
5         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1151      NaN
10        Attribution-NonCommercial-NoDerivatives (aka M...   50135      NaN
20        Attribution-NonCommercial-NoDerivatives (aka M...     361      NaN


         number publisher tags            title
track_id
2             3       NaN   []             Food
3             4       NaN   []     Electric Ave
5             6       NaN   []       This World
10            1       NaN   []          Freeway
20            3       NaN   []  Spiritual Level

In [66]:
tracks.columns = [' '.join(col).strip() for col in tracks.columns.values]

tracks = tracks.reset_index()

In [67]:
# tracks.columns = tracks.columns.get_level_values(0)

In [87]:

tracks.head()
print(tracks.shape)

(106574, 52)

In [84]:
features = pd.read_csv('fma_metadata/features.csv', header=[0,2], index_col=0)

In [85]:
features.columns = [' '.join(col).strip() for col in features.columns.values]

features = features.reset_index()

In [86]:
features.head()

,track_id,chroma_cens 01,chroma_cens 02,chroma_cens 03,chroma_cens 04,chroma_cens 05,chroma_cens 06,chroma_cens 07,chroma_cens 08,chroma_cens 09,chroma_cens 10,chroma_cens 11,chroma_cens 12,"( ' c h r o m a _ c e n s ' , ' 0 1 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 2 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 3 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 4 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 5 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 6 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 7 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 8 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 9 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 1 0 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 1 1 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 1 2 ' ) . 1","( ' c h r o m a _ c e n s ' , ' 0 1 ' ) . 2","( ' c h r o m a _ c e n s ' , ' 0 2 ' ) . 2","( ' c h r o m a _ c e n s ' , ' 0 3 ' ) . 2","( ' c h r o m a _ c e n s ' , ' 0 4 ' ) . 2","( ' c h r o m a _ c e n s ' , ' 0 5 ' ) . 2",...,"( ' t o n n e t z ' , ' 0 2 ' ) . 3","( ' t o n n e t z ' , ' 0 3 ' ) . 3","( ' t o n n e t z ' , ' 0 4 ' ) . 3","( ' t o n n e t z ' , ' 0 5 ' ) . 3","( ' t o n n e t z ' , ' 0 6 ' ) . 3","( ' t o n n e t z ' , ' 0 1 ' ) . 4","( ' t o n n e t z ' , ' 0 2 ' ) . 4","( ' t o n n e t z ' , ' 0 3 ' ) . 4","( ' t o n n e t z ' , ' 0 4 ' ) . 4","( ' t o n n e t z ' , ' 0 5 ' ) . 4","( ' t o n n e t z ' , ' 0 6 ' ) . 4","( ' t o n n e t z ' , ' 0 1 ' ) . 5","( ' t o n n e t z ' , ' 0 2 ' ) . 5","( ' t o n n e t z ' , ' 0 3 ' ) . 5","( ' t o n n e t z ' , ' 0 4 ' ) . 5","( ' t o n n e t z ' , ' 0 5 ' ) . 5","( ' t o n n e t z ' , ' 0 6 ' ) . 5","( ' t o n n e t z ' , ' 0 1 ' ) . 6","( ' t o n n e t z ' , ' 0 2 ' ) . 6","( ' t o n n e t z ' , ' 0 3 ' ) . 6","( ' t o n n e t z ' , ' 0 4 ' ) . 6","( ' t o n n e t z ' , ' 0 5 ' ) . 6","( ' t o n n e t z ' , ' 0 6 ' ) . 6",zcr 01,"( ' z c r ' , ' 0 1 ' ) . 1","( ' z c r ' , ' 0 1 ' ) . 2","( ' z c r ' , ' 0 1 ' ) . 3","( ' z c r ' , ' 0 1 ' ) . 4","( ' z c r ' , ' 0 1 ' ) . 5","( ' z c r ' , ' 0 1 ' ) . 6"
0,2,7.180653,5.230309,0.249321,1.347620,1.482478,0.531371,1.481593,2.691455,0.866868,1.341231,1.347792,1.237658,0.692500,0.569344,0.597041,0.625864,0.567330,0.443949,0.487976,0.497327,0.574435,0.579241,0.620102,0.586945,0.474300,0.369816,0.236119,0.228068,0.222830,...,0.017786,0.007311,0.067945,0.009488,0.016876,-0.059769,-0.091745,-0.185687,-0.140306,-0.048525,-0.089286,0.752462,0.262607,0.200944,0.593595,-0.177665,-1.424201,0.019809,0.029569,0.038974,0.054125,0.012226,0.012111,5.758890,0.459473,0.085629,0.071289,0.000000,2.089872,0.061448
1,3,1.888963,0.760539,0.345297,2.295201,1.654031,0.067592,1.366848,1.054094,0.108103,0.619185,1.038253,1.292235,0.677641,0.584248,0.581271,0.581182,0.454241,0.464841,0.542833,0.664720,0.511329,0.530998,0.603398,0.547428,0.232784,0.229469,0.225674,0.216713,0.220512,...,0.007161,0.046912,-0.021149,0.016299,-0.002657,-0.097199,-0.079651,-0.164613,-0.304375,-0.024958,-0.055667,0.265541,-0.131471,0.171930,-0.990710,0.574556,0.556494,0.026316,0.018708,0.051151,0.063831,0.014212,0.017740,2.824694,0.466309,0.084578,0.063965,0.000000,1.716724,0.069330
2,5,0.527563,-0.077654,-0.279610,0.685883,1.937570,0.880839,-0.923192,-0.927232,0.666617,1.038546,0.268932,1.125141,0.611014,0.651471,0.494528,0.448799,0.468624,0.454021,0.497172,0.559755,0.671287,0.610565,0.551663,0.603413,0.258420,0.303385,0.250737,0.218562,0.245743,...,-0.018953,-0.020358,0.024615,0.004868,-0.003899,-0.128391,-0.125289,-0.359463,-0.166667,-0.038546,-0.146136,1.212025,0.218381,-0.419971,-0.014541,-0.199314,-0.925733,0.025550,0.021106,0.084997,0.040730,0.012691,0.014759,6.808415,0.375000,0.053114,0.041504,0.000000,2.193303,0.044861
3,10,3.702245,-0.291193,2.196742,-0.234449,1.367364,0.998411,1.770694,1.604566,0.521217,1.982386,4.326824,1.300406,0.461840,0.540411,0.446708,0.647553,0.591908,0.513306,0.651501,0.516887,0.511479,0.478263,0.638766,0.638495,0.229882,0.286978,0.240096,0.226792,0.192443,...,-0.019117,-0.007409,-0.067350,0.007036,0.006788,-0.107889,-0.194957,-0.273549,-0.343055,-0.052284,-0.029836,-0.135219,-0.275780,0.015767,-1.094873,1.164041,0.246746,0.021413,0.031989,0.088197,0.074358,0.017952,0.013921,21.434212,0.452148,0.077515,0.071777,0.000000,3.542325,0.040800
4,20,-0.193837,-0.198527,0.201546,0.258556,0.775204,0.084794,-0.289294,-0.816410,0.043851,-0.804761,-0.990958,-0.430381,0.652864,0.676290,0.670288,0.598666,0.653607,0.697645,0.664929,0.686563,0.635117,0.667393,0.689589,0.683196,0.202806,0.245125,0.262997,0.187961,0.182397,...,0.012416,-0.025059,-0.072732,0.005057,-0.006812,-0.147339,-0.210110,-0.342446,-0.388083,-0.075566,-0.091831,0.192395,-0.215337,0.081732,0.040777,0.232350,-0.207831,0.033342,0.035174,0.105521,0.095003,0.022492,0.021355,16.669037,0.469727,0.047225,0.040039,0.000977,3.189831,0.030993

### Fit Logistic Regression!

This dataset is bigger than many you've worked with so far, and while it should fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting, or [downcasting numeric datatypes](https://www.dataquest.io/blog/pandas-big-data/).
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.