<a href="https://colab.research.google.com/github/livjab/DS-Unit-2-Sprint-3-Classification-Validation/blob/master/module1-logistic-regression/LS_DS_231_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic üö¢

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

### Get data, option 1: Kaggle API

#### Sign up for Kaggle and get an API token
1. [Sign up for a Kaggle account](https://www.kaggle.com/), if you don‚Äôt already have one. 
2. [Follow these instructions](https://github.com/Kaggle/kaggle-api#api-credentials) to create a Kaggle ‚ÄúAPI Token‚Äù and download your `kaggle.json` file. If you are using Anaconda, put the file in the directory specified in the instructions.

_This will enable you to download data directly from Kaggle. If you run into problems, don‚Äôt worry ‚Äî I‚Äôll give you an easy alternative way to download today‚Äôs data, so you can still follow along with the lecture hands-on. And then we‚Äôll help you through the Kaggle process after the lecture._

#### Put `kaggle.json` in the correct location

- ***If you're using Anaconda,*** put the file in the directory specified in the [instructions](https://github.com/Kaggle/kaggle-api#api-credentials).

- ***If you're using Google Colab,*** upload the file to your Google Drive, and run this cell:

In [1]:
from google.colab import drive
drive.mount('/content/drive')
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑
Mounted at /content/drive
env: KAGGLE_CONFIG_DIR=/content/drive/My Drive/

#### Install the Kaggle API package and use it to get the data

You also have to join the Titanic competition to have access to the data

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.3.9)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)

In [6]:
!kaggle competitions download -c titanic

Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 57.0MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 28.5MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.79MB/s]

### Get data, option 2: Download from the competition page
1. [Sign up for a Kaggle account](https://www.kaggle.com/), if you don‚Äôt already have one. 
2. [Go to the Titanic competition page](https://www.kaggle.com/c/titanic) to download the [data](https://www.kaggle.com/c/titanic/data).

### Get data, option 3: Use Seaborn

```
import seaborn as sns
train = sns.load_dataset('titanic')
```

But Seaborn's version of the Titanic dataset is not identical to Kaggle's version, as we'll see during this lesson!

### Read data

In [7]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
train.shape, test.shape

((891, 12), (418, 11))

In [9]:
target = 'Survived'
train[target].value_counts()

0    549
1    342
Name: Survived, dtype: int64

### How would we try to do this with linear regression?

https://scikit-learn.org/stable/modules/impute.html

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

In [12]:
features = ["Pclass", "Age", "Fare"]
target = "Survived"
X_train = train[features]
y_train = train[target]
X_test = test[features]

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

lin_reg = LinearRegression()
lin_reg.fit(X_train_imputed, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
import numpy as np
test_case = np.array([[1, 5, 500]])

lin_reg.predict(test_case)

array([1.19207871])

In [15]:
pd.Series(lin_reg.coef_, X_train.columns)

Pclass   -0.210390
Age      -0.007358
Fare      0.000751
dtype: float64

In [16]:
lin_reg.intercept_

1.063899500003544

### How would we do this with Logistic Regression?

In [0]:
from sklearn.linear_model import LogisticRegression

In [24]:
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)

print(log_reg.predict(test_case))
print(log_reg.predict_proba(test_case))

[1]
[[0.02778799 0.97221201]]

### How accurate is the Logistic Regression?

In [25]:
log_reg.score(X_train_imputed, y_train)

0.7025813692480359

In [26]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(log_reg, X_train_imputed, y_train, cv=10)
scores

array([0.63333333, 0.62222222, 0.68539326, 0.71910112, 0.69662921,
       0.69662921, 0.76404494, 0.75280899, 0.73033708, 0.71590909])

In [28]:
from sklearn.metrics import accuracy_score

y_pred = log_reg.predict(X_train_imputed)

accuracy_score(y_train, y_pred)

0.7025813692480359

### What's the math for the Logistic Regression?

https://en.wikipedia.org/wiki/Logistic_function

https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study

In [29]:
log_reg.coef_, log_reg.intercept_

(array([[-0.9345267 , -0.03569729,  0.00422069]]), array([2.55763985]))

In [0]:
def sigmoid(x):
    return 1 / (1 + np.e**(-x))

In [31]:
sigmoid(np.dot(log_reg.coef_, test_case.T) + log_reg.intercept_)

array([[0.97221201]])

In [32]:
sigmoid(log_reg.coef_ @ test_case.T + log_reg.intercept_)

array([[0.97221201]])

In [33]:
log_reg.predict_proba(test_case)

array([[0.02778799, 0.97221201]])

## Feature Engineering

Get the [Category Encoder](http://contrib.scikit-learn.org/categorical-encoding/) library

If you're running on Google Colab:

```
!pip install category_encoders
```

If you're running locally with Anaconda:

```
!conda install -c conda-forge category_encoders
```

In [0]:
import seaborn as sns

sns_titanic = sns.load_dataset("titanic")

In [0]:
def make_features(X):
    X = X.copy()
    X['adult_male'] = (X['Sex'] == 'male') & (X['Age'] >= 16)
    X['alone'] = (X['SibSp'] == 0) & (X['Parch'] == 0)
    X['last_name'] = X['Name'].str.split(',').str[0]
    X['title'] = X['Name'].str.split(',').str[1].str.split('.').str[0]
    return X

In [0]:
train = make_features(train)
test = make_features(test)

In [37]:
train["adult_male"].value_counts()

False    478
True     413
Name: adult_male, dtype: int64

## Assignment: real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

### Get and unzip the data

#### Google Colab

In [38]:
!wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip fma_metadata.zip

--2019-05-06 19:46:53--  https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
Resolving os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)... 86.119.28.13, 2001:620:5ca1:2ff::ce53
Connecting to os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)|86.119.28.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 358412441 (342M) [application/zip]
Saving to: ‚Äòfma_metadata.zip.1‚Äô

fma_metadata.zip.1  100%[===================>] 341.81M  18.5MB/s    in 19s

2019-05-06 19:47:13 (17.5 MB/s) - ‚Äòfma_metadata.zip.1‚Äô saved [358412441/358412441]

Archive:  fma_metadata.zip
replace fma_metadata/README.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/checksums? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/not_found.pickle? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/raw_genres.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/raw_albums.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/raw_artists.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/raw_tracks.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/tracks.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/genres.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/raw_echonest.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/echonest.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace fma_metadata/features.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [40]:
!head -n 4 fma_metadata/tracks.csv

,album,album,album,album,album,album,album,album,album,album,album,album,album,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,artist,set,set,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track,track
,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type,active_year_begin,active_year_end,associated_labels,bio,comments,date_created,favorites,id,latitude,location,longitude,members,name,related_projects,tags,website,wikipedia_page,split,subset,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
track_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,,4,1,<p></p>,6073,,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,,,"<p>A Way Of Life, A Collective of Hip-Hop from NJ...................</p>",0,2008-11-26 01:42:32,9,1,40.0583238,New Jersey,-74.4056612,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of Records,Zooberelli the Don,F.A.H,MadSicka,Damien Omenicci..and a van load more...",AWOL,The list of past projects is 2 long but every1 and every style from Tabby Bonet 2 M.O.P..Azillion Records Flagship trackmaster DJ BrownBum is a beat Wizard.....A-2-Z..illion....(right now working with JerseyBlock Ent),['awol'],http://www.AzillionRecords.blogspot.com,,training,small,256000,0,,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],[21],,4656,en,Attribution-NonCommercial-ShareAlike 3.0 International,1293,,3,,[],Food

#### Windows
- Download the [zip file](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip)
- You may need to use [7zip](https://www.7-zip.org/download.html) to unzip it


#### Mac
- Download the [zip file](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip)
- You may need to use [p7zip](https://superuser.com/a/626731) to unzip it

### Look at first 3 lines of raw file

In [0]:
!head -n 3 fma_metadata/tracks.csv

### Read with pandas
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [45]:
tracks = pd.read_csv('fma_metadata/tracks.csv', header=[0,1], index_col=0)
pd.set_option('display.max_columns', 52)
tracks.head()

            album                                                     \
         comments         date_created        date_released engineer
track_id
2               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
3               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
5               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
10              0  2008-11-26 01:45:08  2008-02-06 00:00:00      NaN
20              0  2008-11-26 01:45:05  2009-01-06 00:00:00      NaN

                                                                          \
         favorites id                                information listens
track_id
2                4  1                                    <p></p>    6073
3                4  1                                    <p></p>    6073
5                4  1                                    <p></p>    6073
10               4  6                                        NaN   47632
20               2  4  <p>¬†"spiritual songs" from Nicky Cook</p>    2710

                                                            \
         producer tags                 title tracks   type
track_id
2             NaN   []  AWOL - A Way Of Life      7  Album
3             NaN   []  AWOL - A Way Of Life      7  Album
5             NaN   []  AWOL - A Way Of Life      7  Album
10            NaN   []     Constant Hitmaker      2  Album
20            NaN   []                 Niris     13  Album

                       artist                       \
            active_year_begin      active_year_end
track_id
2         2006-01-01 00:00:00                  NaN
3         2006-01-01 00:00:00                  NaN
5         2006-01-01 00:00:00                  NaN
10                        NaN                  NaN
20        1990-01-01 00:00:00  2011-01-01 00:00:00

                                                             \
                                          associated_labels
track_id
2                                                       NaN
3                                                       NaN
5                                                       NaN
10        Mexican Summer, Richie Records, Woodsist, Skul...
20                                                      NaN

                                                                      \
                                                        bio comments
track_id
2         <p>A Way Of Life, A Collective of Hip-Hop from...        0
3         <p>A Way Of Life, A Collective of Hip-Hop from...        0
5         <p>A Way Of Life, A Collective of Hip-Hop from...        0
10        <p><span style="font-family:Verdana, Geneva, A...        3
20        <p>Songs written by: Nicky Cook</p>\n<p>VOCALS...        2

                                                                           \
                 date_created favorites id   latitude            location
track_id
2         2008-11-26 01:42:32         9  1  40.058324          New Jersey
3         2008-11-26 01:42:32         9  1  40.058324          New Jersey
5         2008-11-26 01:42:32         9  1  40.058324          New Jersey
10        2008-11-26 01:42:55        74  6        NaN                 NaN
20        2008-11-26 01:42:52        10  4  51.895927  Colchester England

                                                                        \
          longitude                                            members
track_id
2        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
3        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
5        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
10              NaN                           Kurt Vile, the Violators
20         0.891874                                       Nicky Cook\n

                                                                         \
                name                                   related_projects
track_id
2               AWOL  The list of past projects is 2 long but every1...
3               AWOL  The list of past projects is 2 long but every1...
5               AWOL  The list of past projects is 2 long but every1...
10         Kurt Vile                                                NaN
20        Nicky Cook                                                NaN

                                                             \
                                                       tags
track_id
2                                                  ['awol']
3                                                  ['awol']
5                                                  ['awol']
10                                  ['philly', 'kurt vile']
20        ['instrumentals', 'experimental pop', 'post pu...

                                                                       set  \
                                          website wikipedia_page     split
track_id
2         http://www.AzillionRecords.blogspot.com            NaN  training
3         http://www.AzillionRecords.blogspot.com            NaN  training
5         http://www.AzillionRecords.blogspot.com            NaN  training
10                            http://kurtvile.com            NaN  training
20                                            NaN            NaN  training

                    track                                           \
          subset bit_rate comments   composer         date_created
track_id
2          small   256000        0        NaN  2008-11-26 01:48:12
3         medium   256000        0        NaN  2008-11-26 01:48:14
5          small   256000        0        NaN  2008-11-26 01:48:20
10         small   192000        0  Kurt Vile  2008-11-25 17:49:06
20         large   256000        0        NaN  2008-11-26 01:48:56

                                                                       \
                date_recorded duration favorites genre_top     genres
track_id
2         2008-11-26 00:00:00      168         2   Hip-Hop       [21]
3         2008-11-26 00:00:00      237         1   Hip-Hop       [21]
5         2008-11-26 00:00:00      206         6   Hip-Hop       [21]
10        2008-11-26 00:00:00      161       178       Pop       [10]
20        2008-01-01 00:00:00      311         0       NaN  [76, 103]

                                                                \
                 genres_all information interest language_code
track_id
2                      [21]         NaN     4656            en
3                      [21]         NaN     1470            en
5                      [21]         NaN     1933            en
10                     [10]         NaN    54881            en
20        [17, 10, 76, 103]         NaN      978            en

                                                                              \
                                                    license listens lyricist
track_id
2         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN
3         Attribution-NonCommercial-ShareAlike 3.0 Inter...     514      NaN
5         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1151      NaN
10        Attribution-NonCommercial-NoDerivatives (aka M...   50135      NaN
20        Attribution-NonCommercial-NoDerivatives (aka M...     361      NaN


         number publisher tags            title
track_id
2             3       NaN   []             Food
3             4       NaN   []     Electric Ave
5             6       NaN   []       This World
10            1       NaN   []          Freeway
20            3       NaN   []  Spiritual Level

In [46]:
tracks.describe(include='number')

               album                                              \
            comments      favorites             id       listens
count  106574.000000  106574.000000  106574.000000  1.065740e+05
mean        0.394946       1.286927   12826.933914  3.212031e+04
std         2.268915       3.133035    6290.261805  1.478532e+05
min        -1.000000      -1.000000      -1.000000 -1.000000e+00
25%         0.000000       0.000000    7793.000000  3.361000e+03
50%         0.000000       0.000000   13374.000000  8.982000e+03
75%         0.000000       1.000000   18203.000000  2.363500e+04
max        53.000000      61.000000   22940.000000  3.564243e+06

                             artist                                \
              tracks       comments      favorites             id
count  106574.000000  106574.000000  106574.000000  106574.000000
mean       19.721452       1.894702      30.041915   12036.770404
std        39.943673       6.297679     100.511408    6881.420867
min        -1.000000      -1.000000      -1.000000       1.000000
25%         7.000000       0.000000       1.000000    6443.000000
50%        11.000000       0.000000       5.000000   12029.500000
75%        17.000000       1.000000      16.000000   18011.000000
max       652.000000      79.000000     963.000000   24357.000000

                                           track                 \
           latitude     longitude       bit_rate       comments
count  44544.000000  44544.000000  106574.000000  106574.000000
mean      39.901626    -38.668642  263274.695048       0.031621
std       18.240860     65.237220   67623.443584       0.321993
min      -45.878760   -157.526855      -1.000000       0.000000
25%       39.271398    -79.997459  192000.000000       0.000000
50%       41.387917    -73.554431  299914.000000       0.000000
75%       48.856930      4.351710  320000.000000       0.000000
max       67.286005    175.277000  448000.000000      37.000000

                                                                  \
            duration      favorites      interest        listens
count  106574.000000  106574.000000  1.065740e+05  106574.000000
mean      277.849100       3.182521  3.541310e+03    2329.353548
std       305.518553      13.513820  1.901743e+04    8028.070647
min         0.000000       0.000000  2.000000e+00       0.000000
25%       149.000000       0.000000  5.990000e+02     292.000000
50%       216.000000       1.000000  1.314000e+03     764.000000
75%       305.000000       3.000000  3.059000e+03    2018.000000
max     18350.000000    1482.000000  3.293557e+06  543252.000000


              number
count  106574.000000
mean        8.260945
std        15.243271
min         0.000000
25%         2.000000
50%         5.000000
75%         9.000000
max       255.000000

In [47]:
tracks.describe(exclude='number')

                      album                                       \
               date_created        date_released        engineer
count                103045                70294           15295
unique                14340                 3669             622
top     2015-01-26 13:04:57  2008-01-01 00:00:00  Ernie Indradat
freq                    310                  667             876

                                                                               \
                                              information    producer    tags
count                                               83149       18060  106574
unique                                              11075         760    2388
top     <p class="p1" style="margin: 0px; padding: 8px...  Joe Belock      []
freq                                                  310         855   83549

                                                artist                       \
                    title    type    active_year_begin      active_year_end
count              105549  100066                22711                 5375
unique              14298       5                   76                   57
top     microSong Entries   Album  2007-01-01 00:00:00  2016-01-01 00:00:00
freq                  310   87549                 1789                  479

                                                                             \
       associated_labels                                                bio
count              14271                                              71156
unique               754                                               6084
top         HUSH Records  <p><span style="color: #333333; font-family: G...
freq                 604                                                745

                                                                       \
               date_created      location            members     name
count                105718         70210              46849   106574
unique                15970          2329               4015    16294
top     2013-03-31 02:17:41  Brooklyn, NY  Konstantin Trokay  Kosta T
freq                    745          2327                745      745

                                                                   \
                                         related_projects    tags
count                                               13152  106574
unique                                                752   15660
top     Ratatat, Lullatone, Nightmares On Wax, Air, Mo...      []
freq                                                  604    3061

                                                  \
                                         website
count                                      79256
unique                                      6642
top     https://soundcloud.com/konstantin-trokay
freq                                         745

                                                         set          \
                                    wikipedia_page     split  subset
count                                         5581    106574  106574
unique                                         389         3       3
top     http://en.wikipedia.org/wiki/Josh_Woodward  training   large
freq                                           284     84353   81574

                    track                                                      \
                 composer         date_created        date_recorded genre_top
count                3670               106574                 6159     49598
unique                505                86169                  773        16
top     konstantin trokai  2009-05-05 09:31:42  2008-11-26 00:00:00      Rock
freq                  541                    4                  700     14182

                                                                              \
        genres genres_all                                        information
count   106574     106574                                               2349
unique    4768       4151                                               1586
top       [21]       [21]  <p><a href="http://www.myspace.com/theshambler...
freq      2735       2735                                                 22

                                                                         \
       language_code                                            license
count          15024                                             106487
unique            44                                                113
top               en  Attribution-Noncommercial-Share Alike 3.0 Unit...
freq           14255                                              19250


             lyricist             publisher    tags     title
count             311                  1263  106574    106573
unique             66                   135    2451     94986
top     Apache Tomcat  Victrola Dog (ASCAP)      []  Untitled
freq               44                   465   83078       298

In [53]:
tracks["set", "split"].value_counts()

training      84353
test          11263
validation    10958
Name: (set, split), dtype: int64

In [48]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106574 entries, 2 to 155320
Data columns (total 52 columns):
(album, comments)              106574 non-null int64
(album, date_created)          103045 non-null object
(album, date_released)         70294 non-null object
(album, engineer)              15295 non-null object
(album, favorites)             106574 non-null int64
(album, id)                    106574 non-null int64
(album, information)           83149 non-null object
(album, listens)               106574 non-null int64
(album, producer)              18060 non-null object
(album, tags)                  106574 non-null object
(album, title)                 105549 non-null object
(album, tracks)                106574 non-null int64
(album, type)                  100066 non-null object
(artist, active_year_begin)    22711 non-null object
(artist, active_year_end)      5375 non-null object
(artist, associated_labels)    14271 non-null object
(artist, bio)                  71156 non-null object
(artist, comments)             106574 non-null int64
(artist, date_created)         105718 non-null object
(artist, favorites)            106574 non-null int64
(artist, id)                   106574 non-null int64
(artist, latitude)             44544 non-null float64
(artist, location)             70210 non-null object
(artist, longitude)            44544 non-null float64
(artist, members)              46849 non-null object
(artist, name)                 106574 non-null object
(artist, related_projects)     13152 non-null object
(artist, tags)                 106574 non-null object
(artist, website)              79256 non-null object
(artist, wikipedia_page)       5581 non-null object
(set, split)                   106574 non-null object
(set, subset)                  106574 non-null object
(track, bit_rate)              106574 non-null int64
(track, comments)              106574 non-null int64
(track, composer)              3670 non-null object
(track, date_created)          106574 non-null object
(track, date_recorded)         6159 non-null object
(track, duration)              106574 non-null int64
(track, favorites)             106574 non-null int64
(track, genre_top)             49598 non-null object
(track, genres)                106574 non-null object
(track, genres_all)            106574 non-null object
(track, information)           2349 non-null object
(track, interest)              106574 non-null int64
(track, language_code)         15024 non-null object
(track, license)               106487 non-null object
(track, listens)               106574 non-null int64
(track, lyricist)              311 non-null object
(track, number)                106574 non-null int64
(track, publisher)             1263 non-null object
(track, tags)                  106574 non-null object
(track, title)                 106573 non-null object
dtypes: float64(2), int64(15), object(35)
memory usage: 43.1+ MB

In [52]:
tracks["track", "genre_top"].value_counts()

Rock                   14182
Experimental           10608
Electronic              9372
Hip-Hop                 3552
Folk                    2803
Pop                     2332
Instrumental            2079
International           1389
Classical               1230
Jazz                     571
Old-Time / Historic      554
Spoken                   423
Country                  194
Soul-RnB                 175
Blues                    110
Easy Listening            24
Name: (track, genre_top), dtype: int64

In [95]:
["track", "genre_numeric"] = {"track", "genre_top": {"Rock": 1, 
                                                           "Experimental": 2, 
                                                           "Electronic": 3, 
                                                           "Hip-Hop": 4,
                                                           "Folk": 5,
                                                           "Pop": 6,
                                                           "Instrumental": 7,
                                                           "International"; 8,
                                                           "Classical": 9,
                                                           "Jazz": 10,
                                                           "Old Time / Historic": 11,
                                                           "Spoken": 12,
                                                           "Country": 13,
                                                           "Soul-RnB": 14,
                                                           "Blues": 15,
                                                           "Easy Listening": 16}}

pd.merge(tracks, )

SyntaxError: ignored

### Fit Logistic Regression!

In [0]:
tracks_train = tracks[tracks["set", "split"] == "training"]
tracks_test = tracks[tracks["set", "split"] == "test"]

In [74]:
tracks.columns

MultiIndex(levels=[['album', 'artist', 'set', 'track'], ['active_year_begin', 'active_year_end', 'associated_labels', 'bio', 'bit_rate', 'comments', 'composer', 'date_created', 'date_recorded', 'date_released', 'duration', 'engineer', 'favorites', 'genre_top', 'genres', 'genres_all', 'id', 'information', 'interest', 'language_code', 'latitude', 'license', 'listens', 'location', 'longitude', 'lyricist', 'members', 'name', 'number', 'producer', 'publisher', 'related_projects', 'split', 'subset', 'tags', 'title', 'tracks', 'type', 'website', 'wikipedia_page']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], [5, 7, 9, 11, 12, 16, 17, 22, 29, 34, 35, 36, 37, 0, 1, 2, 3, 5, 7, 12, 16, 20, 23, 24, 26, 27, 31, 34, 38, 39, 32, 33, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 19, 21, 22, 25, 28, 30, 34, 35]])

In [0]:
target = "track", "genre_top"
features = [["album", "track", "track", "track"], ["tracks", "duration", "bit_rate", "listens"]]

X_train = tracks_train[features]
y_train = tracks_train[target]
X_test = tracks_test[features]
y_test = tracks_test[target]

In [92]:
y_train.dtypes

dtype('O')

In [94]:
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

logreg = LogisticRegression(solver="lbfgs")
logreg.fit(X_train_imputed, y_train)

TypeError: ignored

This dataset is bigger than many you've worked with so far, and while it should fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting, or [downcasting numeric datatypes](https://www.dataquest.io/blog/pandas-big-data/).
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.