# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic üö¢

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

### Get data, option 1: Kaggle API

#### Sign up for Kaggle and get an API token
1. [Sign up for a Kaggle account](https://www.kaggle.com/), if you don‚Äôt already have one. 
2. [Follow these instructions](https://github.com/Kaggle/kaggle-api#api-credentials) to create a Kaggle ‚ÄúAPI Token‚Äù and download your `kaggle.json` file. If you are using Anaconda, put the file in the directory specified in the instructions.

_This will enable you to download data directly from Kaggle. If you run into problems, don‚Äôt worry ‚Äî I‚Äôll give you an easy alternative way to download today‚Äôs data, so you can still follow along with the lecture hands-on. And then we‚Äôll help you through the Kaggle process after the lecture._

#### Put `kaggle.json` in the correct location

- ***If you're using Anaconda,*** put the file in the directory specified in the [instructions](https://github.com/Kaggle/kaggle-api#api-credentials).

- ***If you're using Google Colab,*** upload the file to your Google Drive, and run this cell:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

#### Install the Kaggle API package and use it to get the data

You also have to join the Titanic competition to have access to the data

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /home/nedderlander/anaconda3/lib/python3.7/site-packages (1.5.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from kaggle) (1.24.1)
Requirement already satisfied: six>=1.10 in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from kaggle) (2019.3.9)
Requirement already satisfied: python-dateutil in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from kaggle) (2.8.0)
Requirement already satisfied: requests in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from kaggle) (2.21.0)
Requirement already satisfied: tqdm in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from kaggle) (4.31.1)
Requirement already satisfied: python-slugify in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from kaggle) (3.0.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode==1.2 in /home/nedderlander/anaconda3/lib/python3.7/site-packages (from python-slugify->kaggle) (1.2)

In [2]:
!kaggle competitions download -c titanic

train.csv: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)

### Get data, option 2: Download from the competition page
1. [Sign up for a Kaggle account](https://www.kaggle.com/), if you don‚Äôt already have one. 
2. [Go to the Titanic competition page](https://www.kaggle.com/c/titanic) to download the [data](https://www.kaggle.com/c/titanic/data).

### Get data, option 3: Use Seaborn

```
import seaborn as sns
train = sns.load_dataset('titanic')
```

But Seaborn's version of the Titanic dataset is not identical to Kaggle's version, as we'll see during this lesson!

### Read data

In [3]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.shape, test.shape

((891, 12), (418, 11))

In [4]:
train.sample(n=5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
548,549,0,3,"Goldsmith, Mr. Frank John",male,33.0,1,1,363291,20.5250,NaN,S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S

In [5]:
test.sample(n=5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
155,1047,3,"Duquemin, Mr. Joseph",male,24.0,0,0,S.O./P.P. 752,7.5500,NaN,S
350,1242,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.0,0,1,PC 17759,63.3583,D10 D12,C
375,1267,1,"Bowen, Miss. Grace Scott",female,45.0,0,0,PC 17608,262.3750,NaN,C
287,1179,1,"Snyder, Mr. John Pillsbury",male,24.0,1,0,21228,82.2667,B45,S
229,1121,2,"Hocking, Mr. Samuel James Metcalfe",male,36.0,0,0,242963,13.0000,NaN,S

In [6]:
target = 'Survived'
train[target].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [7]:
test.columns.tolist(), train.columns.tolist()

(['PassengerId',
  'Pclass',
  'Name',
  'Sex',
  'Age',
  'SibSp',
  'Parch',
  'Ticket',
  'Fare',
  'Cabin',
  'Embarked'],
 ['PassengerId',
  'Survived',
  'Pclass',
  'Name',
  'Sex',
  'Age',
  'SibSp',
  'Parch',
  'Ticket',
  'Fare',
  'Cabin',
  'Embarked'])

In [8]:
train.describe(include='number')

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
train.describe(exclude='number')

                                           Name   Sex    Ticket Cabin Embarked
count                                       891   891       891   204      889
unique                                      891     2       681   147        3
top     Andersson, Master. Sigvard Harald Elias  male  CA. 2343    G6        S
freq                                          1   577         7     4      644

### How would we try to do this with linear regression?

https://scikit-learn.org/stable/modules/impute.html

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

features = ['Pclass', 'Age', 'Fare']
target = 'Survived'
X_train = train[features]
y_train = train[target]
X_test = test[features]

imputer = SimpleImputer()

X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)



lin_reg = LinearRegression()
lin_reg.fit(X_train_imputed, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
X_train['Age'].mean()

29.69911764705882

In [12]:
X_train_imputed[:6]

array([[ 3.        , 22.        ,  7.25      ],
       [ 1.        , 38.        , 71.2833    ],
       [ 3.        , 26.        ,  7.925     ],
       [ 1.        , 35.        , 53.1       ],
       [ 3.        , 35.        ,  8.05      ],
       [ 3.        , 29.69911765,  8.4583    ]])

In [13]:
X_train.head(6)

   Pclass   Age     Fare
0       3  22.0   7.2500
1       1  38.0  71.2833
2       3  26.0   7.9250
3       1  35.0  53.1000
4       3  35.0   8.0500
5       3   NaN   8.4583

In [14]:
X_test.tail()

     Pclass   Age      Fare
413       3   NaN    8.0500
414       1  39.0  108.9000
415       3  38.5    7.2500
416       3   NaN    8.0500
417       3   NaN   22.3583

In [15]:
X_test['Age'].mean()

30.272590361445783

In [16]:
X_test_imputed[-6:]

array([[  3.        ,  28.        ,   7.775     ],
       [  3.        ,  29.69911765,   8.05      ],
       [  1.        ,  39.        , 108.9       ],
       [  3.        ,  38.5       ,   7.25      ],
       [  3.        ,  29.69911765,   8.05      ],
       [  3.        ,  29.69911765,  22.3583    ]])

In [17]:
pd.concat([X_train, X_test])['Age'].mean()

29.881137667304014

In [18]:
import numpy as np

test_case = np.array([[1,5,500]]) #rich 5 yo in 1st class
lin_reg.predict(test_case)

array([1.19207871])

In [19]:
y_pred = lin_reg.predict(X_test_imputed)

In [20]:
pd.Series(y_pred).describe()

count    418.000000
mean       0.392117
std        0.181876
min        0.011755
25%        0.227341
50%        0.339570
75%        0.516439
max        0.954827
dtype: float64

In [21]:
pd.Series(lin_reg.coef_, X_train.columns)

Pclass   -0.210390
Age      -0.007358
Fare      0.000751
dtype: float64

In [22]:
lin_reg.intercept_

1.0638995000035438

### How would we do this with Logistic Regression?

In [28]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)
# y_pred = 
print('Prediction for rich 5yo: ', log_reg.predict(test_case)) 
print('Predicted probabilities for rich 5yo: ', log_reg.predict_proba(test_case))

Prediction for rich 5yo:  [1]
Predicted probabilities for rich 5yo:  [[0.02778799 0.97221201]]

In [29]:
log_reg.predict_proba(X_test_imputed)

array([[0.80914315, 0.19085685],
       [0.86923005, 0.13076995],
       [0.81513949, 0.18486051],
       [0.76372392, 0.23627608],
       [0.72699291, 0.27300709],
       [0.66968628, 0.33031372],
       [0.78324172, 0.21675828],
       [0.52925236, 0.47074764],
       [0.7022383 , 0.2977617 ],
       [0.70964361, 0.29035639],
       [0.78122042, 0.21877958],
       [0.47732167, 0.52267833],
       [0.24061744, 0.75938256],
       [0.81009153, 0.18990847],
       [0.44928971, 0.55071029],
       [0.51278415, 0.48721585],
       [0.62450009, 0.37549991],
       [0.72413953, 0.27586047],
       [0.76428515, 0.23571485],
       [0.86078484, 0.13921516],
       [0.52236734, 0.47763266],
       [0.6350244 , 0.3649756 ],
       [0.33255308, 0.66744692],
       [0.24369406, 0.75630594],
       [0.26560325, 0.73439675],
       [0.87756866, 0.12243134],
       [0.24985842, 0.75014158],
       [0.7347066 , 0.2652934 ],
       [0.42843109, 0.57156891],
       [0.77111489, 0.22888511],
       [0.72840402, 0.27159598],
       [0.50879832, 0.49120168],
       [0.79201432, 0.20798568],
       [0.76979308, 0.23020692],
       [0.31089486, 0.68910514],
       [0.70595692, 0.29404308],
       [0.78110916, 0.21889084],
       [0.72292588, 0.27707412],
       [0.74993694, 0.25006306],
       [0.74415304, 0.25584696],
       [0.82941783, 0.17058217],
       [0.33737943, 0.66262057],
       [0.84242682, 0.15757318],
       [0.58114204, 0.41885796],
       [0.44064375, 0.55935625],
       [0.7511815 , 0.2488185 ],
       [0.46453729, 0.53546271],
       [0.78132558, 0.21867442],
       [0.54902225, 0.45097775],
       [0.8121336 , 0.1878664 ],
       [0.26510155, 0.73489845],
       [0.55275036, 0.44724964],
       [0.48207858, 0.51792142],
       [0.15012391, 0.84987609],
       [0.57586872, 0.42413128],
       [0.61774449, 0.38225551],
       [0.81184139, 0.18815861],
       [0.75139838, 0.24860162],
       [0.77524449, 0.22475551],
       [0.19070847, 0.80929153],
       [0.6941235 , 0.3058765 ],
       [0.59790598, 0.40209402],
       [0.70177846, 0.29822154],
       [0.73079815, 0.26920185],
       [0.09393985, 0.90606015],
       [0.57027107, 0.42972893],
       [0.70166433, 0.29833567],
       [0.46896555, 0.53103445],
       [0.34593746, 0.65406254],
       [0.35633291, 0.64366709],
       [0.74459024, 0.25540976],
       [0.7235736 , 0.2764264 ],
       [0.77690368, 0.22309632],
       [0.32678965, 0.67321035],
       [0.21987703, 0.78012297],
       [0.20495205, 0.79504795],
       [0.78110916, 0.21889084],
       [0.55768358, 0.44231642],
       [0.58114204, 0.41885796],
       [0.74459024, 0.25540976],
       [0.59767244, 0.40232756],
       [0.45823378, 0.54176622],
       [0.50407898, 0.49592102],
       [0.78122042, 0.21877958],
       [0.58088202, 0.41911798],
       [0.77645252, 0.22354748],
       [0.76431998, 0.23568002],
       [0.7015134 , 0.2984866 ],
       [0.78132558, 0.21867442],
       [0.32865653, 0.67134347],
       [0.72564004, 0.27435996],
       [0.78130755, 0.21869245],
       [0.29343439, 0.70656561],
       [0.78110916, 0.21889084],
       [0.3014466 , 0.6985534 ],
       [0.75128341, 0.24871659],
       [0.68071941, 0.31928059],
       [0.77690368, 0.22309632],
       [0.71641261, 0.28358739],
       [0.80058814, 0.19941186],
       [0.42015633, 0.57984367],
       [0.54128145, 0.45871855],
       [0.78132558, 0.21867442],
       [0.7579098 , 0.2420902 ],
       [0.68592804, 0.31407196],
       [0.75958277, 0.24041723],
       [0.72363691, 0.27636309],
       [0.78132558, 0.21867442],
       [0.7806307 , 0.2193693 ],
       [0.47924805, 0.52075195],
       [0.67073227, 0.32926773],
       [0.78130452, 0.21869548],
       [0.38420955, 0.61579045],
       [0.70590952, 0.29409048],
       [0.42305512, 0.57694488],
       [0.69582285, 0.30417715],
       [0.78227059, 0.21772941],
       [0.55259276, 0.44740724],
       [0.34173269, 0.65826731],
       [0.55894886, 0.44105114],
       [0.41904505, 0.58095495],
       [0.78132558, 0.21867442],
       [0.35036104, 0.64963896],
       [0.77115852, 0.22884148],
       [0.78132558, 0.21867442],
       [0.68672255, 0.31327745],
       [0.73073936, 0.26926064],
       [0.76994264, 0.23005736],
       [0.68044788, 0.31955212],
       [0.74434937, 0.25565063],
       [0.79482799, 0.20517201],
       [0.53707028, 0.46292972],
       [0.76828122, 0.23171878],
       [0.78227059, 0.21772941],
       [0.85164959, 0.14835041],
       [0.74450659, 0.25549341],
       [0.76159137, 0.23840863],
       [0.54603778, 0.45396222],
       [0.73749737, 0.26250263],
       [0.81394973, 0.18605027],
       [0.59987948, 0.40012052],
       [0.25260864, 0.74739136],
       [0.36517308, 0.63482692],
       [0.55013096, 0.44986904],
       [0.44130039, 0.55869961],
       [0.78186772, 0.21813228],
       [0.31392552, 0.68607448],
       [0.73052821, 0.26947179],
       [0.33737943, 0.66262057],
       [0.56772972, 0.43227028],
       [0.2399305 , 0.7600695 ],
       [0.78122042, 0.21877958],
       [0.90633654, 0.09366346],
       [0.8145153 , 0.1854847 ],
       [0.64049845, 0.35950155],
       [0.74475074, 0.25524926],
       [0.17888028, 0.82111972],
       [0.73765733, 0.26234267],
       [0.44130039, 0.55869961],
       [0.75323297, 0.24676703],
       [0.78133762, 0.21866238],
       [0.60622548, 0.39377452],
       [0.54551462, 0.45448538],
       [0.78186594, 0.21813406],
       [0.67263643, 0.32736357],
       [0.74670383, 0.25329617],
       [0.46934597, 0.53065403],
       [0.67774007, 0.32225993],
       [0.33627561, 0.66372439],
       [0.72976936, 0.27023064],
       [0.78146977, 0.21853023],
       [0.764817  , 0.235183  ],
       [0.73268936, 0.26731064],
       [0.78170091, 0.21829909],
       [0.82366163, 0.17633837],
       [0.42122812, 0.57877188],
       [0.46760772, 0.53239228],
       [0.51762733, 0.48237267],
       [0.60632949, 0.39367051],
       [0.57701423, 0.42298577],
       [0.58114204, 0.41885796],
       [0.34224662, 0.65775338],
       [0.23064365, 0.76935635],
       [0.78132558, 0.21867442],
       [0.15394435, 0.84605565],
       [0.66190032, 0.33809968],
       [0.493106  , 0.506894  ],
       [0.69398531, 0.30601469],
       [0.73352271, 0.26647729],
       [0.66472811, 0.33527189],
       [0.60237806, 0.39762194],
       [0.33789858, 0.66210142],
       [0.64457092, 0.35542908],
       [0.80796217, 0.19203783],
       [0.36814561, 0.63185439],
       [0.80072005, 0.19927995],
       [0.12168049, 0.87831951],
       [0.70175638, 0.29824362],
       [0.52201926, 0.47798074],
       [0.78106406, 0.21893594],
       [0.77568543, 0.22431457],
       [0.54907709, 0.45092291],
       [0.28789037, 0.71210963],
       [0.37455003, 0.62544997],
       [0.53979779, 0.46020221],
       [0.33814253, 0.66185747],
       [0.81193538, 0.18806462],
       [0.53091833, 0.46908167],
       [0.36306093, 0.63693907],
       [0.75120453, 0.24879547],
       [0.78468539, 0.21531461],
       [0.78182995, 0.21817005],
       [0.40324725, 0.59675275],
       [0.79306709, 0.20693291],
       [0.82772964, 0.17227036],
       [0.42477392, 0.57522608],
       [0.78123239, 0.21876761],
       [0.42941994, 0.57058006],
       [0.32499205, 0.67500795],
       [0.78110916, 0.21889084],
       [0.58025998, 0.41974002],
       [0.7234434 , 0.2765566 ],
       [0.51310618, 0.48689382],
       [0.72365801, 0.27634199],
       [0.53817635, 0.46182365],
       [0.77587205, 0.22412795],
       [0.73770502, 0.26229498],
       [0.78132558, 0.21867442],
       [0.83588836, 0.16411164],
       [0.63219549, 0.36780451],
       [0.38623432, 0.61376568],
       [0.27179604, 0.72820396],
       [0.72475392, 0.27524608],
       [0.78123239, 0.21876761],
       [0.37010107, 0.62989893],
       [0.71641261, 0.28358739],
       [0.58513923, 0.41486077],
       [0.71695184, 0.28304816],
       [0.47479535, 0.52520465],
       [0.41124289, 0.58875711],
       [0.55557864, 0.44442136],
       [0.68808272, 0.31191728],
       [0.35791679, 0.64208321],
       [0.78122641, 0.21877359],
       [0.76979308, 0.23020692],
       [0.40650814, 0.59349186],
       [0.50202987, 0.49797013],
       [0.66229257, 0.33770743],
       [0.55894886, 0.44105114],
       [0.77645252, 0.22354748],
       [0.31585881, 0.68414119],
       [0.7163519 , 0.2836481 ],
       [0.22503038, 0.77496962],
       [0.74332398, 0.25667602],
       [0.79673404, 0.20326596],
       [0.78146977, 0.21853023],
       [0.78132558, 0.21867442],
       [0.7705621 , 0.2294379 ],
       [0.48370406, 0.51629594],
       [0.72367557, 0.27632443],
       [0.81388456, 0.18611544],
       [0.72360872, 0.27639128],
       [0.562068  , 0.437932  ],
       [0.55730106, 0.44269894],
       [0.58141171, 0.41858829],
       [0.78122042, 0.21877958],
       [0.36286861, 0.63713139],
       [0.78146977, 0.21853023],
       [0.78110916, 0.21889084],
       [0.69343602, 0.30656398],
       [0.42589747, 0.57410253],
       [0.78132558, 0.21867442],
       [0.21886623, 0.78113377],
       [0.77568543, 0.22431457],
       [0.78170393, 0.21829607],
       [0.47891789, 0.52108211],
       [0.56626305, 0.43373695],
       [0.65239135, 0.34760865],
       [0.57290119, 0.42709881],
       [0.51310618, 0.48689382],
       [0.73699658, 0.26300342],
       [0.55343844, 0.44656156],
       [0.78132558, 0.21867442],
       [0.62313311, 0.37686689],
       [0.55774721, 0.44225279],
       [0.8176405 , 0.1823595 ],
       [0.78168593, 0.21831407],
       [0.24720033, 0.75279967],
       [0.78170091, 0.21829909],
       [0.78110916, 0.21889084],
       [0.32517843, 0.67482157],
       [0.78372801, 0.21627199],
       [0.78170091, 0.21829909],
       [0.48084565, 0.51915435],
       [0.81622025, 0.18377975],
       [0.75781623, 0.24218377],
       [0.30398731, 0.69601269],
       [0.77111489, 0.22888511],
       [0.32207862, 0.67792138],
       [0.77695546, 0.22304454],
       [0.79501721, 0.20498279],
       [0.57641849, 0.42358151],
       [0.68086778, 0.31913222],
       [0.74385711, 0.25614289],
       [0.78132558, 0.21867442],
       [0.63400897, 0.36599103],
       [0.23293012, 0.76706988],
       [0.55875371, 0.44124629],
       [0.48640427, 0.51359573],
       [0.85726675, 0.14273325],
       [0.7009718 , 0.2990282 ],
       [0.73121312, 0.26878688],
       [0.78145175, 0.21854825],
       [0.82259514, 0.17740486],
       [0.44220258, 0.55779742],
       [0.6942691 , 0.3057309 ],
       [0.44848696, 0.55151304],
       [0.48633962, 0.51366038],
       [0.76433898, 0.23566102],
       [0.49095157, 0.50904843],
       [0.7579098 , 0.2420902 ],
       [0.75173   , 0.24827   ],
       [0.54603778, 0.45396222],
       [0.36420443, 0.63579557],
       [0.24547226, 0.75452774],
       [0.73831365, 0.26168635],
       [0.39536257, 0.60463743],
       [0.42181767, 0.57818233],
       [0.55894886, 0.44105114],
       [0.50154693, 0.49845307],
       [0.70469852, 0.29530148],
       [0.41186202, 0.58813798],
       [0.78170393, 0.21829607],
       [0.70218993, 0.29781007],
       [0.76430736, 0.23569264],
       [0.34030569, 0.65969431],
       [0.59841324, 0.40158676],
       [0.83308103, 0.16691897],
       [0.51771613, 0.48228387],
       [0.78170091, 0.21829909],
       [0.47742725, 0.52257275],
       [0.79515185, 0.20484815],
       [0.73352271, 0.26647729],
       [0.15250971, 0.84749029],
       [0.77641896, 0.22358104],
       [0.68671556, 0.31328444],
       [0.54603778, 0.45396222],
       [0.82805788, 0.17194212],
       [0.52776373, 0.47223627],
       [0.5816122 , 0.4183878 ],
       [0.42943651, 0.57056349],
       [0.53979779, 0.46020221],
       [0.41186626, 0.58813374],
       [0.6870226 , 0.3129774 ],
       [0.54119842, 0.45880158],
       [0.51300046, 0.48699954],
       [0.56604911, 0.43395089],
       [0.78123239, 0.21876761],
       [0.78132558, 0.21867442],
       [0.77751224, 0.22248776],
       [0.61538428, 0.38461572],
       [0.50299132, 0.49700868],
       [0.5816122 , 0.4183878 ],
       [0.76372392, 0.23627608],
       [0.27594158, 0.72405842],
       [0.73352271, 0.26647729],
       [0.77644951, 0.22355049],
       [0.70344816, 0.29655184],
       [0.43353474, 0.56646526],
       [0.57154156, 0.42845844],
       [0.50312965, 0.49687035],
       [0.25271591, 0.74728409],
       [0.53147187, 0.46852813],
       [0.69576794, 0.30423206],
       [0.48976202, 0.51023798],
       [0.2452446 , 0.7547554 ],
       [0.73001899, 0.26998101],
       [0.50312965, 0.49687035],
       [0.53225603, 0.46774397],
       [0.57247343, 0.42752657],
       [0.78132558, 0.21867442],
       [0.75782909, 0.24217091],
       [0.77641896, 0.22358104],
       [0.70187359, 0.29812641],
       [0.57865397, 0.42134603],
       [0.4734759 , 0.5265241 ],
       [0.74457017, 0.25542983],
       [0.78436549, 0.21563451],
       [0.72369667, 0.27630333],
       [0.59174239, 0.40825761],
       [0.23206107, 0.76793893],
       [0.50778778, 0.49221222],
       [0.65124951, 0.34875049],
       [0.72008213, 0.27991787],
       [0.76641917, 0.23358083],
       [0.22551649, 0.77448351],
       [0.74499137, 0.25500863],
       [0.43932018, 0.56067982],
       [0.73075663, 0.26924337],
       [0.7891678 , 0.2108322 ],
       [0.22303873, 0.77696127],
       [0.64090084, 0.35909916],
       [0.25190433, 0.74809567],
       [0.22880811, 0.77119189],
       [0.44889646, 0.55110354],
       [0.49171328, 0.50828672],
       [0.52201926, 0.47798074],
       [0.32499205, 0.67500795],
       [0.78134663, 0.21865337],
       [0.57319339, 0.42680661],
       [0.78132558, 0.21867442],
       [0.335776  , 0.664224  ],
       [0.77076725, 0.22923275],
       [0.78110916, 0.21889084],
       [0.33391039, 0.66608961],
       [0.83057192, 0.16942808],
       [0.78110916, 0.21889084],
       [0.77060861, 0.22939139]])

In [31]:
threshold = 0.5

(log_reg.predict_proba(X_test_imputed)[:, 1] > threshold).astype(int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [32]:
manual_predictions = (log_reg.predict_proba(X_test_imputed)[:, 1] > threshold).astype(int)
direct_predictions = log_reg.predict(X_test_imputed)

all(manual_predictions == direct_predictions)

True

### How accurate is the Logistic Regression?

In [33]:
score = log_reg.score(X_train_imputed, y_train)
print('Train Accuracy Score ', score)

Train Accuracy Score  0.7025813692480359

In [34]:
X_train_imputed.shape

(891, 3)

In [35]:
y_pred= log_reg.predict(X_train_imputed)

In [36]:
len(y_pred)

891

In [37]:
len(y_train)

891

In [38]:
y_pred[:5]

array([0, 1, 0, 1, 0])

In [39]:
y_train[:5].values

array([0, 1, 1, 1, 0])

In [41]:
correct_predictions = (1 + 1 + 0 + 1 + 1)
total_predictions = 5

accuracy = correct_predictions / total_predictions

print(accuracy)

0.8

In [42]:
from sklearn.metrics import accuracy_score

accuracy_score(y_train[:5], y_pred[:5])

0.8

In [44]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(log_reg, X_train_imputed, y_train, cv=10)

scores.min(), scores.mean(), scores.max()

(0.6222222222222222, 0.7016408466689366, 0.7640449438202247)

### What's the math for the Logistic Regression?

https://en.wikipedia.org/wiki/Logistic_function

https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study

In [45]:
log_reg.coef_

array([[-0.9345267 , -0.03569729,  0.00422069]])

In [46]:
log_reg.intercept_

array([2.55763985])

In [47]:
test_case

array([[  1,   5, 500]])

In [54]:
# logistitc sigmoid squishing function
def sigmoid(x):
    return 1 / (1 + np.e**(-x))

In [55]:
sigmoid(np.dot(log_reg.coef_, test_case.T) + log_reg.intercept_)

array([[0.97221201]])

In [56]:
sigmoid((log_reg.coef_ @ test_case.T) + log_reg.intercept_)

array([[0.97221201]])

## Feature Engineering

Get the [Category Encoder](http://contrib.scikit-learn.org/categorical-encoding/) library

If you're running on Google Colab:

```
!pip install category_encoders
```

If you're running locally with Anaconda:

```
!conda install -c conda-forge category_encoders
```

In [57]:
import seaborn as sns
sns_titanic = sns.load_dataset('titanic')

In [58]:
sns_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [64]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [67]:
train.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [85]:
def make_features(X):
    X = X.copy()
    X['adult_male'] = (X['Sex'] == 'male') & (X['Age'] >= 16)
    X['alone'] = (X['SibSp'] == 0) & (X['Parch'] == 0)
    X['last_name'] = X['Name'].str.split(',').str[0]
    X['title'] = X['Name'].str.split(',').str[1].str.split('.').str[0]
    return X

In [86]:
train = make_features(train)
test = make_features(test)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,adult_male,alone,last_name,title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True,False,Braund,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False,False,Cumings,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False,True,Heikkinen,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False,False,Futrelle,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True,True,Allen,Mr

In [ ]:
!conda install -c conda-forge category_encoders

WARNING: The conda.compat module is deprecated and will be removed in a future release.
Collecting package metadata: done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.6.11
  latest version: 4.6.14

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/nedderlander/anaconda3

  added / updated specs:
    - category_encoders


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    category_encoders-1.3.0    |             py_0          29 KB  conda-forge
    certifi-2019.3.9           |           py37_0         149 KB  conda-forge
    conda-4.6.14               |           py37_0         2.1 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.3 MB

The following NEW packages will be INSTALLED:

  category_encoders  conda-forge/noarch::category_encoders-1.3.0-py_0

The following packages will be UPDATED:

  conda                      pkgs/main::conda-4.6.11-py37_0 --> conda-forge::conda-4.6.14-py37_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                         pkgs/main --> conda-forge


Proceed ([y]/n)?

## Assignment: real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

### Get and unzip the data

#### Google Colab

In [72]:
!wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip fma_metadata.zip

--2019-05-06 11:08:24--  https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
Resolving os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)... 86.119.28.13, 2001:620:5ca1:2ff::ce53
Connecting to os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)|86.119.28.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 358412441 (342M) [application/zip]
Saving to: ‚Äòfma_metadata.zip‚Äô

fma_metadata.zip    100%[===================>] 341.81M  4.17MB/s    in 83s

2019-05-06 11:09:49 (4.10 MB/s) - ‚Äòfma_metadata.zip‚Äô saved [358412441/358412441]

Archive:  fma_metadata.zip
 bunzipping: fma_metadata/README.txt
 bunzipping: fma_metadata/checksums
 bunzipping: fma_metadata/not_found.pickle
 bunzipping: fma_metadata/raw_genres.csv
 bunzipping: fma_metadata/raw_albums.csv
 bunzipping: fma_metadata/raw_artists.csv
 bunzipping: fma_metadata/raw_tracks.csv
 bunzipping: fma_metadata/tracks.csv
 bunzipping: fma_metadata/genres.csv
 bunzipping: fma_metadata/raw_echonest.csv
 bunzipping: fma_metadata/echonest.csv
 bunzipping: fma_metadata/features.csv

#### Windows
- Download the [zip file](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip)
- You may need to use [7zip](https://www.7-zip.org/download.html) to unzip it


#### Mac
- Download the [zip file](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip)
- You may need to use [p7zip](https://superuser.com/a/626731) to unzip it

### Look at first 3 lines of raw file

In [ ]:
!head -n 3 fma_metadata/tracks.csv

### Read with pandas
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [121]:
genres = pd.read_csv('fma_metadata/genres.csv', header=[0,1], index_col=0)

genres

genre_id #tracks parent                   title top_level
1           8693     38             Avant-Garde        38
2           5271      0           International         2
3           1752      0                   Blues         3
4           4126      0                    Jazz         4
5           4106      0               Classical         5
6            914     38                 Novelty        38
7            217     20                  Comedy        20
8            868      0     Old-Time / Historic         8
9           1987      0                 Country         9
10         13845      0                     Pop        10
11           367     14                   Disco        14
12         32923      0                    Rock        12
13           730      0          Easy Listening        13
14          1499      0                Soul-RnB        14
15         34413      0              Electronic        15
16           304      6           Sound Effects        38
17         12706      0                    Folk        17
18          5913   1235              Soundtrack      1235
19           773     14                    Funk        14
20          1876      0                  Spoken        20
21          8389      0                 Hip-Hop        21
22           774     38           Audio Collage        38
25          9261     12                    Punk        12
26          1952     12               Post-Rock        12
27          6041     12                   Lo-Fi        12
30          3237     38        Field Recordings        38
31          1498     12                   Metal        12
32          7268     38                   Noise        38
33          2267     17              Psych-Folk        17
36           688     12               Krautrock        12
37            97      4             Jazz: Vocal         4
...          ...    ...                     ...       ...
468         1144     15                 Dubstep        15
491           78    468                  Skweee        15
493            4    651           Western Swing         9
495         2061     15               Downtempo        15
502           67     46                  Cumbia         2
504          114      2                   Latin         2
514         1414     38               Sound Art        38
524          112    130          Romany (Gypsy)         2
538          338     18             Compilation      1235
539          638     21                     Rap        21
542          735     21               Breakbeat        21
567           66      3                  Gospel         3
580          202     21        Abstract Hip-Hop        21
602           94     79      Reggae - Dancehall         2
619          115    130                 Spanish         2
651           79      9       Country & Western         9
659         1239      5  Contemporary Classical         5
693           56     21                   Wonky        21
695          258     15                  Jungle        15
741           57    130                 Klezmer         2
763          268     16                 Holiday        38
808           12     46                   Salsa         2
810          120     13                 Nu-Jazz        13
811         1192     21           Hip-Hop Beats        21
906          107      4             Modern Jazz         4
1032          60    102                 Turkish         2
1060          30     46                   Tango         2
1156          26    130                    Fado         2
1193          72    763               Christmas        38
1235       14938      0            Instrumental      1235

[162 rows x 4 columns]

In [125]:
tracks = pd.read_csv('fma_metadata/tracks.csv', header=[0,1], index_col=0)

In [126]:
tracks.head().T

track_id                                                                 2   \
album  comments                                                           0
       date_created                                     2008-11-26 01:44:45
       date_released                                    2009-01-05 00:00:00
       engineer                                                         NaN
       favorites                                                          4
       id                                                                 1
       information                                                  <p></p>
       listens                                                         6073
       producer                                                         NaN
       tags                                                              []
       title                                           AWOL - A Way Of Life
       tracks                                                             7
       type                                                           Album
artist active_year_begin                                2006-01-01 00:00:00
       active_year_end                                                  NaN
       associated_labels                                                NaN
       bio                <p>A Way Of Life, A Collective of Hip-Hop from...
       comments                                                           0
       date_created                                     2008-11-26 01:42:32
       favorites                                                          9
       id                                                                 1
       latitude                                                     40.0583
       location                                                  New Jersey
       longitude                                                   -74.4057
       members            Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
       name                                                            AWOL
       related_projects   The list of past projects is 2 long but every1...
       tags                                                        ['awol']
       website                      http://www.AzillionRecords.blogspot.com
       wikipedia_page                                                   NaN
set    split                                                       training
       subset                                                         small
track  bit_rate                                                      256000
       comments                                                           0
       composer                                                         NaN
       date_created                                     2008-11-26 01:48:12
       date_recorded                                    2008-11-26 00:00:00
       duration                                                         168
       favorites                                                          2
       genre_top                                                    Hip-Hop
       genres                                                          [21]
       genres_all                                                      [21]
       information                                                      NaN
       interest                                                        4656
       language_code                                                     en
       license            Attribution-NonCommercial-ShareAlike 3.0 Inter...
       listens                                                         1293
       lyricist                                                         NaN
       number                                                             3
       publisher                                                        NaN
       tags                                                              []
       title                                                           Food

track_id                                                                 3   \
album  comments                                                           0
       date_created                                     2008-11-26 01:44:45
       date_released                                    2009-01-05 00:00:00
       engineer                                                         NaN
       favorites                                                          4
       id                                                                 1
       information                                                  <p></p>
       listens                                                         6073
       producer                                                         NaN
       tags                                                              []
       title                                           AWOL - A Way Of Life
       tracks                                                             7
       type                                                           Album
artist active_year_begin                                2006-01-01 00:00:00
       active_year_end                                                  NaN
       associated_labels                                                NaN
       bio                <p>A Way Of Life, A Collective of Hip-Hop from...
       comments                                                           0
       date_created                                     2008-11-26 01:42:32
       favorites                                                          9
       id                                                                 1
       latitude                                                     40.0583
       location                                                  New Jersey
       longitude                                                   -74.4057
       members            Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
       name                                                            AWOL
       related_projects   The list of past projects is 2 long but every1...
       tags                                                        ['awol']
       website                      http://www.AzillionRecords.blogspot.com
       wikipedia_page                                                   NaN
set    split                                                       training
       subset                                                        medium
track  bit_rate                                                      256000
       comments                                                           0
       composer                                                         NaN
       date_created                                     2008-11-26 01:48:14
       date_recorded                                    2008-11-26 00:00:00
       duration                                                         237
       favorites                                                          1
       genre_top                                                    Hip-Hop
       genres                                                          [21]
       genres_all                                                      [21]
       information                                                      NaN
       interest                                                        1470
       language_code                                                     en
       license            Attribution-NonCommercial-ShareAlike 3.0 Inter...
       listens                                                          514
       lyricist                                                         NaN
       number                                                             4
       publisher                                                        NaN
       tags                                                              []
       title                                                   Electric Ave

track_id                                                                 5   \
album  comments                                                           0
       date_created                                     2008-11-26 01:44:45
       date_released                                    2009-01-05 00:00:00
       engineer                                                         NaN
       favorites                                                          4
       id                                                                 1
       information                                                  <p></p>
       listens                                                         6073
       producer                                                         NaN
       tags                                                              []
       title                                           AWOL - A Way Of Life
       tracks                                                             7
       type                                                           Album
artist active_year_begin                                2006-01-01 00:00:00
       active_year_end                                                  NaN
       associated_labels                                                NaN
       bio                <p>A Way Of Life, A Collective of Hip-Hop from...
       comments                                                           0
       date_created                                     2008-11-26 01:42:32
       favorites                                                          9
       id                                                                 1
       latitude                                                     40.0583
       location                                                  New Jersey
       longitude                                                   -74.4057
       members            Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
       name                                                            AWOL
       related_projects   The list of past projects is 2 long but every1...
       tags                                                        ['awol']
       website                      http://www.AzillionRecords.blogspot.com
       wikipedia_page                                                   NaN
set    split                                                       training
       subset                                                         small
track  bit_rate                                                      256000
       comments                                                           0
       composer                                                         NaN
       date_created                                     2008-11-26 01:48:20
       date_recorded                                    2008-11-26 00:00:00
       duration                                                         206
       favorites                                                          6
       genre_top                                                    Hip-Hop
       genres                                                          [21]
       genres_all                                                      [21]
       information                                                      NaN
       interest                                                        1933
       language_code                                                     en
       license            Attribution-NonCommercial-ShareAlike 3.0 Inter...
       listens                                                         1151
       lyricist                                                         NaN
       number                                                             6
       publisher                                                        NaN
       tags                                                              []
       title                                                     This World

track_id                                                                 10  \
album  comments                                                           0
       date_created                                     2008-11-26 01:45:08
       date_released                                    2008-02-06 00:00:00
       engineer                                                         NaN
       favorites                                                          4
       id                                                                 6
       information                                                      NaN
       listens                                                        47632
       producer                                                         NaN
       tags                                                              []
       title                                              Constant Hitmaker
       tracks                                                             2
       type                                                           Album
artist active_year_begin                                                NaN
       active_year_end                                                  NaN
       associated_labels  Mexican Summer, Richie Records, Woodsist, Skul...
       bio                <p><span style="font-family:Verdana, Geneva, A...
       comments                                                           3
       date_created                                     2008-11-26 01:42:55
       favorites                                                         74
       id                                                                 6
       latitude                                                         NaN
       location                                                         NaN
       longitude                                                        NaN
       members                                     Kurt Vile, the Violators
       name                                                       Kurt Vile
       related_projects                                                 NaN
       tags                                         ['philly', 'kurt vile']
       website                                          http://kurtvile.com
       wikipedia_page                                                   NaN
set    split                                                       training
       subset                                                         small
track  bit_rate                                                      192000
       comments                                                           0
       composer                                                   Kurt Vile
       date_created                                     2008-11-25 17:49:06
       date_recorded                                    2008-11-26 00:00:00
       duration                                                         161
       favorites                                                        178
       genre_top                                                        Pop
       genres                                                          [10]
       genres_all                                                      [10]
       information                                                      NaN
       interest                                                       54881
       language_code                                                     en
       license            Attribution-NonCommercial-NoDerivatives (aka M...
       listens                                                        50135
       lyricist                                                         NaN
       number                                                             1
       publisher                                                        NaN
       tags                                                              []
       title                                                        Freeway

track_id                                                                 20
album  comments                                                           0
       date_created                                     2008-11-26 01:45:05
       date_released                                    2009-01-06 00:00:00
       engineer                                                         NaN
       favorites                                                          2
       id                                                                 4
       information                <p>¬†"spiritual songs" from Nicky Cook</p>
       listens                                                         2710
       producer                                                         NaN
       tags                                                              []
       title                                                          Niris
       tracks                                                            13
       type                                                           Album
artist active_year_begin                                1990-01-01 00:00:00
       active_year_end                                  2011-01-01 00:00:00
       associated_labels                                                NaN
       bio                <p>Songs written by: Nicky Cook</p>\n<p>VOCALS...
       comments                                                           2
       date_created                                     2008-11-26 01:42:52
       favorites                                                         10
       id                                                                 4
       latitude                                                     51.8959
       location                                          Colchester England
       longitude                                                   0.891874
       members                                                 Nicky Cook\n
       name                                                      Nicky Cook
       related_projects                                                 NaN
       tags               ['instrumentals', 'experimental pop', 'post pu...
       website                                                          NaN
       wikipedia_page                                                   NaN
set    split                                                       training
       subset                                                         large
track  bit_rate                                                      256000
       comments                                                           0
       composer                                                         NaN
       date_created                                     2008-11-26 01:48:56
       date_recorded                                    2008-01-01 00:00:00
       duration                                                         311
       favorites                                                          0
       genre_top                                                        NaN
       genres                                                     [76, 103]
       genres_all                                         [17, 10, 76, 103]
       information                                                      NaN
       interest                                                         978
       language_code                                                     en
       license            Attribution-NonCommercial-NoDerivatives (aka M...
       listens                                                          361
       lyricist                                                         NaN
       number                                                             3

In [144]:
# tracks['track', ['genre_top', 'genres']] #,'genre_top']['track','genres']

TypeError: '('track', ['genre_top', 'genres'])' is an invalid key

In [124]:
# the genres top category is our target but is missing 59k values, it seems to be derived from
# genres_all so I will copy over the first genre label from genres_all into genres_top

# tracks['track','genre_top'] = tracks['track','genres_all'].str.strip('[]').str[:3].str.replace(',','')

In [120]:
# tracks.isna().sum()

album   comments                  0
        date_created           3529
        date_released         36280
        engineer              91279
        favorites                 0
        id                        0
        information           23425
        listens                   0
        producer              88514
        tags                      0
        title                  1025
        tracks                    0
        type                   6508
artist  active_year_begin     83863
        active_year_end      101199
        associated_labels     92303
        bio                   35418
        comments                  0
        date_created            856
        favorites                 0
        id                        0
        latitude              62030
        location              36364
        longitude             62030
        members               59725
        name                      0
        related_projects      93422
        tags                      0
        website               27318
        wikipedia_page       100993
set     split                     0
        subset                    0
track   bit_rate                  0
        comments                  0
        composer             102904
        date_created              0
        date_recorded        100415
        duration                  0
        favorites                 0
        genre_top                 0
        genres                    0
        genres_all                0
        information          104225
        interest                  0
        language_code         91550
        license                  87
        listens                   0
        lyricist             106263
        number                    0
        publisher            105311
        tags                      0
        title                     1
dtype: int64

In [91]:
tracks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106574 entries, 2 to 155320
Data columns (total 52 columns):
(album, comments)              106574 non-null int64
(album, date_created)          103045 non-null object
(album, date_released)         70294 non-null object
(album, engineer)              15295 non-null object
(album, favorites)             106574 non-null int64
(album, id)                    106574 non-null int64
(album, information)           83149 non-null object
(album, listens)               106574 non-null int64
(album, producer)              18060 non-null object
(album, tags)                  106574 non-null object
(album, title)                 105549 non-null object
(album, tracks)                106574 non-null int64
(album, type)                  100066 non-null object
(artist, active_year_begin)    22711 non-null object
(artist, active_year_end)      5375 non-null object
(artist, associated_labels)    14271 non-null object
(artist, bio)                  71156 non-null object
(artist, comments)             106574 non-null int64
(artist, date_created)         105718 non-null object
(artist, favorites)            106574 non-null int64
(artist, id)                   106574 non-null int64
(artist, latitude)             44544 non-null float64
(artist, location)             70210 non-null object
(artist, longitude)            44544 non-null float64
(artist, members)              46849 non-null object
(artist, name)                 106574 non-null object
(artist, related_projects)     13152 non-null object
(artist, tags)                 106574 non-null object
(artist, website)              79256 non-null object
(artist, wikipedia_page)       5581 non-null object
(set, split)                   106574 non-null object
(set, subset)                  106574 non-null object
(track, bit_rate)              106574 non-null int64
(track, comments)              106574 non-null int64
(track, composer)              3670 non-null object
(track, date_created)          106574 non-null object
(track, date_recorded)         6159 non-null object
(track, duration)              106574 non-null int64
(track, favorites)             106574 non-null int64
(track, genre_top)             49598 non-null object
(track, genres)                106574 non-null object
(track, genres_all)            106574 non-null object
(track, information)           2349 non-null object
(track, interest)              106574 non-null int64
(track, language_code)         15024 non-null object
(track, license)               106487 non-null object
(track, listens)               106574 non-null int64
(track, lyricist)              311 non-null object
(track, number)                106574 non-null int64
(track, publisher)             1263 non-null object
(track, tags)                  106574 non-null object
(track, title)                 106573 non-null object
dtypes: float64(2), int64(15), object(35)
memory usage: 513.3 MB

In [93]:
for dtype in ['float','int','object']:
    selected_dtype = tracks.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 0.81 MB
Average memory usage for int columns: 0.81 MB
Average memory usage for object columns: 13.88 MB

### Fit Logistic Regression!

In [158]:
# to start with I'll use all non-nan features and non-genre features 
df_track = tracks['track'].copy()
df_track = df_track[(df_track['genre_top'].isna()== False)]

,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
track_id,,,,,,,,,,,,,,,,,,,,
2,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],[21],NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,256000,0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237,1,Hip-Hop,[21],[21],NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
5,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],[21],NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
10,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],[10],NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
134,256000,0,NaN,2008-11-26 01:43:19,2008-11-26 00:00:00,207,3,Hip-Hop,[21],[21],NaN,1126,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,943,NaN,5,NaN,[],Street Music
135,256000,1,NaN,2008-11-26 01:43:26,2008-11-26 00:00:00,837,0,Rock,"[45, 58]","[58, 12, 45]",NaN,2484,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1832,NaN,0,NaN,[],Father's Day
136,256000,1,NaN,2008-11-26 01:43:35,2008-11-26 00:00:00,509,0,Rock,"[45, 58]","[58, 12, 45]",NaN,1948,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1498,NaN,0,NaN,[],Peel Back The Mountain Sky
137,256000,0,NaN,2008-11-26 01:43:42,1978-04-27 00:00:00,1233,2,Experimental,"[1, 32]","[32, 1, 38]",<p>Recorded live in downtown Los Angeles at th...,2559,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1278,NaN,1,NaN,['lafms'],Side A
138,256000,0,NaN,2008-11-26 01:43:56,1978-04-27 00:00:00,1231,2,Experimental,"[1, 32]","[32, 1, 38]",<p>Recorded live in downtown Los Angeles at th...,1909,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,489,NaN,2,NaN,['lafms'],Side B
139,128000,0,NaN,2008-11-26 01:44:05,2008-11-26 00:00:00,296,3,Folk,[17],[17],NaN,702,en,Attribution-Noncommercial-No Derivative Works ...,582,NaN,2,NaN,[],CandyAss
140,128000,0,NaN,2008-11-26 01:44:07,2008-11-26 00:00:00,253,5,Folk,[17],[17],NaN,1593,en,Attribution-Noncommercial-No Derivative Works ...,1299,NaN,2,NaN,[],Queen Of The Wires
141,128000,0,NaN,2008-11-26 01:44:10,2008-11-26 00:00:00,182,1,Folk,[17],[17],NaN,839,en,Attribution-Noncommercial-No Derivative Works ...,725,NaN,4,NaN,[],Ohio
142,128000,0,NaN,2008-11-26 01:44:11,2008-11-26 00:00:00,470,6,Folk,[17],[17],NaN,1223,en,Attribution-Noncommercial-No Derivative Works ...,848,NaN,5,NaN,[],Punjabi Watery Grave
144,256000,0,NaN,2008-11-26 01:44:15,1998-11-26 00:00:00,82,1,Jazz,[4],[4],NaN,1146,en,Attribution-Noncommercial-No Derivative Works ...,1143,NaN,1,NaN,[],Wire Up
145,256000,0,NaN,2008-11-26 01:44:18,1998-11-26 00:00:00,326,1,Jazz,[4],[4],NaN,968,en,Attribution-Noncommercial-No Derivative Works ...,883,NaN,3,NaN,[],Amoebiasis
146,256000,0,NaN,2008-11-26 01:44:21,1995-11-26 00:00:00,354,5,Jazz,[4],[4],NaN,855,en,Attribution-Noncommercial-No Derivative Works ...,690,NaN,6,NaN,[],Gimme a Buck or I'll Touch You / Boilermaker
147,256000,0,NaN,2008-11-26 01:44:25,1995-11-26 00:00:00,232,2,Jazz,[4],[4],NaN,930,en,Attribution-Noncommercial-No Derivative Works ...,766,NaN,7,NaN,[],Repetitive Motion Sickness
148,256000,0,NaN,2008-11-26 01:44:28,2002-08-01 00:00:00,138,1,Experimental,[1],"[1, 38]",NaN,2437,en,Attribution-Noncommercial-Share Alike 3.0 Unit...,1831,NaN,2,NaN,[],Blackout 2
149,287639,0,NaN,2008-11-26 01:44:34,2006-01-01 00:00:00,988,1,Experimental,[1],"[1, 38]",NaN,1103,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,453,NaN,2,NaN,[],Outside the window bees buzzed...
150,282817,0,NaN,2008-11-26 01:44:45,2006-01-01 00:00:00,1182,0,Experimental,[1],"[1, 38]",NaN,1071,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,407,NaN,1,NaN,[],... listening to the sunshine burn the grass
151,192000,0,NaN,2008-11-26 01:44:55,NaN,192,0,Rock,[25],"[25, 12]",NaN,701,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,148,NaN,4,NaN,[],Untitled 04
152,192000,0,NaN,2008-11-26 01:44:58,NaN,193,0,Rock,[25],"[25, 12]",NaN,637,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,98,NaN,11,NaN,[],Untitled 11
153,256000,0,Arc and Sender,2008-11-26 01:45:00,2008-11-26 00:00:00,405,5,Rock,[26],"[26, 12]",NaN,354,en,Attribution-NonCommercial-NoDerivatives (aka M...,424,NaN,2,NaN,[],Hundred-Year Flood
154,256000,0,Arc and Sender,2008-11-26 01:45:04,2008-11-26 00:00:00,319,1,Rock,[26],"[26, 12]",NaN,242,en,Attribution-NonCommercial-NoDerivatives (aka M...,205,NaN,4,NaN,[],Squares And Circles
155,192000,0,NaN,2008-11-26 01:45:10,2008-11-26 00:00:00,756,1,Rock,[26],"[26, 12]",NaN,268,en,Attribution-NonCommercial-NoDerivatives (aka M...,197,NaN,0,NaN,[],Maps of the Stars Homes
156,192000,0,NaN,2008-11-26 01:45:18,2004-08-20 00:00:00,122,2,Experimental,[30],"[38, 30]",NaN,345,en,Attribution-NonCommercial-NoDerivatives (aka M...,362,NaN,1,NaN,[],Track 01
157,192000,0,NaN,2008-11-26 01:45:21,2004-08-20 00:00:00,212,1,Experimental,[30],"[38, 30]",NaN,209,en,Attribution-NonCommercial-NoDerivatives (aka M...,190,NaN,2,NaN,[],Track 02
158,192000,0,NaN,2008-11-26 01:45:25,2004-08-20 00:00:00,473,1,Experimental,[30],"[38, 30]",NaN,213,en,Attribution-NonCommercial-NoDerivatives (aka M...,163,NaN,3,NaN,[],Track 03
159,192000,0,NaN,2008-11-26 01:45:28,2004-08-20 00:00:00,221,1,Experimental,[30],"[38, 30]",NaN,170,en,Attribution-NonCommercial-NoDerivatives (aka M...,130,NaN,4,NaN,[],Track 04
160,192000,0,NaN,2008-11-26 01:45:31,2004-08-20 00:00:00,70,0,Experimental,[30],"[38, 30]",NaN,147,en,Attribution-NonCommercial-NoDerivatives (aka M...,110,NaN,5,NaN,[],Track 05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155289,320000,0,NaN,2017-03-30 09:52:43,NaN,177,2,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,790,NaN,Attribution-NonCommercial,625,NaN,1,NaN,[],Prologue
155290,320000,0,NaN,2017-03-30 09:52:45,NaN,184,1,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,501,NaN,Attribution-NonCommercial,445,NaN,2,NaN,[],Other
155291,320000,0,NaN,2017-03-30 09:52:48,NaN,289,2,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,748,NaN,Attribution-NonCommercial,581,NaN,3,NaN,[],Fourth Dimension
155292,320000,0,NaN,2017-03-30 09:52:49,NaN,224,2,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,614,NaN,Attribution-NonCommercial,509,NaN,4,NaN,[],Scarlet Sails
155293,320000,0,NaN,2017-03-30 09:52:51,NaN,96,2,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,842,NaN,Attribution-NonCommercial,702,NaN,5,NaN,[],Cycle
155294,320000,0,NaN,2017-03-30 09:52:53,NaN,266,1,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,820,NaN,Attribution-NonCommercial,680,NaN,6,NaN,[],Cast Away
155295,320000,0,NaN,2017-03-30 09:52:54,NaN,331,3,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,876,NaN,Attribution-NonCommercial,680,NaN,7,NaN,[],Attraction
155296,320000,0,NaN,2017-03-30 09:52:57,NaN,289,4,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,1167,NaN,Attribution-NonCommercial,927,NaN,8,NaN,[],Fallen Stars
155297,320000,0,NaN,2017-03-30 09:52:59,NaN,252,3,Instrumental,"[18, 107, 1235]","[107, 18, 1235]",NaN,1463,NaN,Attribution-NonCommercial,1049,NaN,9,NaN,[],Nebula Reborn
155298,320000,0,NaN,2017-03-30 10:47:51,NaN,151,0,Folk,"[17, 103]","[17, 103]",NaN,706,NaN,Attribution,590,NaN,2,NaN,[],An Idiot Abroad
155299,320000,0,NaN,2017-03-30 10:47:52,NaN,192,0,Folk,"[17, 103]","[17, 103]",NaN,158,NaN,Attribution,141,NaN,7,NaN,[],Ergo
155300,320000,0,NaN,2017-03-30 10:47:54,NaN,189,0,Folk,"[17, 103]","[17, 103]",NaN,167,NaN,Attribution,146,NaN,5,NaN,[],Make Her Good
155301,320000,0,NaN,2017-03-30 10:47:56,NaN,154,0,Folk,"[17, 103]","[17, 103]",NaN,177,NaN,Attribution,160,NaN,6,NaN,[],Only Me
155302,320000,0,NaN,2017-03-30 10:47:57,NaN,200,0,Folk,"[17, 103]","[17, 103]",NaN,165,NaN,Attribution,152,NaN,8,NaN,[],Pointed Words
155303,320000,0,NaN,2017-03-30 10:47:58,NaN,197,0,Folk,"[17, 103]","[17, 103]",NaN,227,NaN,Attribution,214,NaN,3,NaN,[],Scissors Paper Stone
155304,320000,0,NaN,2017-03-30 10:47:59,NaN,201,0,Folk,"[17, 103]","[17, 103]",NaN,293,NaN,Attribution,231,NaN,4,NaN,[],Seen it all Before
155305,320000,0,NaN,2017-03-30 10:48:01,NaN,179,1,Folk,"[17, 103]","[17, 103]",NaN,425,NaN,Attribution,385,NaN,9,NaN,[],Three Generations
155306,320000,0,NaN,2017-03-30 10:48:02,NaN,162,1,Folk,"[17, 103]","[17, 103]",NaN,497,NaN,Attribution,435,NaN,1,NaN,[],Tiny Man
155307,320000,0,NaN,2017-03-30 12:53:18,NaN,271,0,Experimental,[1],"[1, 38]",NaN,630,NaN,Creative Commons Attribution-NonCommercial-NoD...,571,NaN,1,NaN,[],Kolka
155308,320000,0,NaN,2017-03-30 12:53:20,NaN,256,1,Experimental,[1],"[1, 38]",NaN,90,NaN,Creative Commons Attribution-NonCommercial-NoD...,82,NaN,2,NaN,[],Maxiutka's Song
155309,320000,0,NaN,2017-03-30 12:53:21,NaN,302,0,Experimental,[1],"[1, 38]",NaN,90,NaN,Creative Commons Attribution-NonCommercial-NoD...,79,NaN,3,NaN,[],Coolitch
155310,320000,0,NaN,2017-03-30 12:53:22,NaN,726,0,Experimental,[1],"[1, 38]",NaN,94,NaN,Creative Commons Attribution-NonCommercial-NoD...,84,NaN,4,NaN,[],Raman Abhishek
155311,320000,0,NaN,2017-03-30 12:53:24,NaN,539,0,Experimental,[1],"[1, 38]",NaN,187,NaN,Creative Commons Attribution-NonCommercial-NoD...,171,NaN,5,NaN,[],Na Potehu Telu
155312,320000,0,NaN,2017-03-30 12:53:25,NaN,527,0,Experimental,[1],"[1, 38]",NaN,230,NaN,Creative Commons Attribution-NonCommercial-NoD...,219,NaN,6,NaN,[],Koza-Korova
155314,320000,0,NaN,2017-03-30 15:23:31,NaN,177,0,Rock,[25],"[25, 12]",NaN,778,NaN,Creative Commons Attribution-NonCommercial-NoD...,652,NaN,2,NaN,[],Miracle Grow
155315,320000,0,NaN,2017-03-30 15:23:33,NaN,38,1,Rock,[25],"[25, 12]",NaN,153,NaN,Creative Commons Attribution-NonCommercial-NoD...,128,NaN,1,NaN,[],Space Power Over-Watch Destroying Evil Rats
155316,320000,0,NaN,2017-03-30 15:23:34,NaN,162,1,Rock,[25],"[25, 12]",NaN,122,NaN,Creative Commons Attribution-NonCommercial-NoD...,102,NaN,3,NaN,[],The Auger
155317,320000,0,NaN,2017-03-30 15:23:36,NaN,217,1,Rock,[25],"[25, 12]",NaN,194,NaN,Creative Commons Attribution-NonCommercial-NoD...,165,NaN,4,NaN,[],Let's Skin Ruby
155318,320000,0,NaN,2017-03-30 15:23:37,NaN,404,2,Rock,[25],"[25, 12]",NaN,214,NaN,Creative Commons Attribution-NonCommercial-NoD...,168,NaN,6,NaN,[],My House Smells Like Kim Deal/Pulp
155319,320000,0,NaN,2017-03-30 15:23:39,NaN,146,0,Rock,[25],"[25, 12]",NaN,336,NaN,Creative Commons Attribution-NonCommercial-NoD...,294,NaN,5,NaN,[],The Man With Two Mouths

In [169]:
# I'm going to create a baseline model using the df_track since I'm not strong on 
# working with multi-index

# df_track['genre_top']
target = 'genre_top'

# this gives me a list of all non-nan numeric columns
features = df_track._get_numeric_data().columns.tolist()

In [170]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression


def run_log_model(X, y):
    # Split into test and train data
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.80, test_size=0.20, random_state=42)  
  
    # Fit model using train data
    model = LogisticRegression(solver='lbfgs')
    model.fit(X_train, y_train)
    
    #score model
    train_score = model.score(X_train, y_train)
    print('Train Accuracy Score: ', train_score)
    
    test_score = model.score(X_test, y_test)
    print('Test Accuracy Score: ', test_score)

In [173]:
X = df_track[features]
y = df_track[target]

run_log_model(X,y)

/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

Train Accuracy Score:  0.35969554917082514
Test Accuracy Score:  0.35443548387096774

In [181]:
# now I have a baseline of 0.35 so I will start thinking about ways to improve accuracy.

# df_track = df_track[(df_track['genre_top'].isna()== False)]


# seperate multi-index into new dataframes
df_album = tracks['album']
df_artist = tracks['artist']


# get non nan numeric columns 
album_features = df_album._get_numeric_data().columns.tolist()

artist_features = df_artist._get_numeric_data().columns.tolist()

In [193]:
# now re-add these features into my Xs

X = pd.merge(pd.merge(df_track[features], df_album[album_features]), df_artist[artist_features])

y = df_track[target]

run_log_model(X,y)

# in retrospect, it's not surprising that this doesn't work because there is no connection between the seperate 
# dataframe features and the target in df_track, this should instead be within a single dataframe

ValueError: Found input variables with inconsistent numbers of samples: [48263, 49598]

In [225]:
# seperate multi-index into new dataframes
tracks = tracks.sort_index()
df_album = tracks['album']
df_artist = tracks['artist']
df_track = tracks['track']


df_flat = pd.merge(pd.merge(df_album, df_artist, on='track_id'), df_track, on='track_id')

In [226]:
df_flat.isna().sum()
# ok, so I can now try to use all numerics here for more features

comments_x                0
date_created_x         3529
date_released         36280
engineer              91279
favorites_x               0
id_x                      0
information_x         23425
listens_x                 0
producer              88514
tags_x                    0
title_x                1025
tracks                    0
type                   6508
active_year_begin     83863
active_year_end      101199
associated_labels     92303
bio                   35418
comments_y                0
date_created_y          856
favorites_y               0
id_y                      0
latitude              62030
location              36364
longitude             62030
members               59725
name                      0
related_projects      93422
tags_y                    0
website               27318
wikipedia_page       100993
bit_rate                  0
comments                  0
composer             102904
date_created              0
date_recorded        100415
duration                  0
favorites                 0
genre_top             56976
genres                    0
genres_all                0
information_y        104225
interest                  0
language_code         91550
license                  87
listens_y                 0
lyricist             106263
number                    0
publisher            105311
tags                      0
title_y                   1
dtype: int64

In [243]:
# same target
target = 'genre_top'

# drop target nans
df_clean = df_flat[(df_flat['genre_top'].isna()== False)].drop(columns=['latitude', 'longitude'])

# this gives me a list of all non-nan numeric columns
features = df_clean._get_numeric_data().columns.tolist()


X = df_clean[features]

y = df_clean[target]

run_log_model(X,y)

/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

Train Accuracy Score:  0.38419275165078887
Test Accuracy Score:  0.37691532258064514

/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [252]:
# good god that was a lot of warnings for a low accuracy score
# the warnings suggest I might try standardizing my data:

from sklearn.preprocessing import StandardScaler

# standardizing the features and target logistic function

def run_stan_log_model(X, y):
    # Split into test and train data
    X_train, X_test, y_train, y_test = train_test_split(StandardScaler().fit_transform(X), 
                                                        y, train_size=0.80, test_size=0.20, random_state=42)  
  
    # Fit model using train data
    model = LogisticRegression(solver='lbfgs')
    model.fit(X_train, y_train)
    
    #score model
    train_score = model.score(X_train, y_train)
    print('Train Accuracy Score: ', train_score)
    
    test_score = model.score(X_test, y_test)
    print('Test Accuracy Score: ', test_score)
    
    print('Model coefficients: ', pd.Series(model.coef_, X.columns.tolist()) )

run_stan_log_model(X, y)

/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/nedderlander/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Train Accuracy Score:  0.4137557336559302
Test Accuracy Score:  0.40625

ValueError: Length of passed values is 16, index implies 15

NameError: name 'model' is not defined

This dataset is bigger than many you've worked with so far, and while it should fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting, or [downcasting numeric datatypes](https://www.dataquest.io/blog/pandas-big-data/).
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.